<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>{$site_name} - Character not found</title>
</head>
<body>
{include "../navigation.latte"}
<article id='main'>
  <h1>Character not found</h1>
  <p>Requested character was not found.</p>
</article>
</body>
</html>