<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>HeroesofAbenez {$server} - Profile</title>
</head>
<body>
{include "../navigation.latte"}
<article id='profile'>
  <h1>{$name}</h1>
  <p>{$gender}, level {$level} {$race} {$occupation}{$specialization}</p>
  <p>Base stats:<br>Strength {$strength}, Dexterity {$dexterity}, Constitution {$constitution}, Intelligence {$intelligence}, Charisma {$charisma}</p>
  <p>{$guild|noescape}</p>
  <p>{$active_pet}</p>
  <p>More info: {$description}</p>
</article>
</body>
</html>