<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>HeroesofAbenez {$server} - Introduction {$part}</title>
</head>
<body>
{include "../navigation.latte"}
<p>{$intro}</p>
<a n:href="Intro:next">Continue</a>
</body>
</html>