<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>HeroesofAbenez {$server} - Introduction {$part}</title>
</head>
<body>
{include "../navigation.latte"}
<article id='main'>
  <p>{$intro}</p>
  <a n:href="Intro:next">Continue</a>
</article>
{include "../footer.latte"}
</body>
</html>