source: app
destination: api
title: Heroes of Abenez
todo: yes
php: yes
charset:
    - UTF-8
exclude: 
    - temp
    - tests
    - composer
    - examples
    - deprecated
    - Requirements-Checker
accessLevels:
    - public
    - protected
    - private
