includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    universalObjectCratesClasses:
        - Nette\Security\IIdentity
    ignoreErrors:
        - '#Variable \$[a-zA-Z0-9_]+ might not be defined#'
        - '#Access to an undefined property Nextras\\Orm\\Entity\\IEntity::\$id#'
        - '#Method Nette\\Localization\\ITranslator::translate\(\) invoked with 3 parameters, 1-2 required#'
        - '#Property HeroesofAbenez\\Orm\\[a-zA-Z0-9_]+::\$[a-zA-Z0-9_]+ \(HeroesofAbenez\\Orm\\[a-zA-Z0-9_]+|null\) does not accept int#'
        - '#Method HeroesofAbenez\\Orm\[a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+ should return HeroesofAbenez\\Orm[a-zA-Z0-9\\_]+|null but returns Nextras\\Orm\\IEntity|null#'
