includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    universalObjectCratesClasses:
        - Nette\Security\IIdentity
    ignoreErrors:
        - '#Property HeroesofAbenez\\Orm\\[a-zA-Z0-9_]+::\$[a-zA-Z0-9_]+ \(HeroesofAbenez\\Orm\\[a-zA-Z0-9_]+\) does not accept int#'
        - '#Method HeroesofAbenez\\Orm\[a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+ should return HeroesofAbenez\\Orm[a-zA-Z0-9\\_]+|null but returns Nextras\\Orm\\IEntity|null#'
        - '#Call to an undefined method Nette\\ComponentModel\\IComponent::(getControlPrototype|setDefaultValue)\(\)#'
        - '#Access to an undefined property Nette\\ComponentModel\\IComponent::\$value#'
        - '#Variable property access on [a-zA-Z\\]+#'
        - '#Variable property access on \$this\([a-zA-Z\\]+\)#'
        - '#Variable method call on \$this\(HeroesofAbenez\\Model\\Skills\)#'
        - '#Parameter \#1 \$id \(int\) of method HeroesofAbenez\\Orm\\[a-zA-Z]+::getById\(\) should be contravariant with parameter (\$id|\$primaryValue) \(mixed\) of method Nextras\\Orm\\Repository\\[I]?Repository::getById\(\)#'
        - '#Method HeroesofAbenez\\Model\\Intro::getStartingLocation\(\) should return int but return statement is missing#'
