<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>HeroesofAbenez {$server} - Ranking Guilds</title>
</head>
<body>
{include "../navigation.latte"}
<article id='main'>
  <h1>Ranking Guilds</h1>
  <h3><a n:href="Ranking:">Characters</a> Guilds</h3>
  <table id="guilds">
    <tr><th>Nm.</th><th id="name">Name</th><th>Members</th><th></th><tr>
    {foreach $guilds as $guild}
      <tr><td>{$iterator->counter}.</td><td>{$guild->name}</td><td class="members">{$guild->members}</td><td><a n:href="Guild:view $guild->id">Details</a></td></tr>
    {/foreach}
  </table>
</article>
{include "../footer.latte"}
</body>
</html>