  <h1>{_"npcs.$npcId.name"}'s shop</h1>
  {if count($items) === 0}
  <p>{_"texts.npcShop.noItems"}</p>
  {else}
  <p>{_"texts.npcShop.offer"}</p>
  {foreach $items as $item}
  <a href="{plink Item:view $item->id}">{$item->name}</a> for {$item->price} silver marks. <a n:href="buy! $item->id">Buy</a><br>
  {/foreach}
  {/if}