  <h1>{_texts.arena.title}</h1>
  <h3><a href="{plink Arena:}">{_texts.arena.localChampions}</a> {_texts.arena.foreignHeroes}</h3>
  {foreach $opponents as $opponent}
  {$opponent->name} <a n:href="fight! $opponent->id">{_texts.arena.toChallenge}</a><br>
  {/foreach}