  <p>Available quests:<br>
  {if count($quests) == 0}
  No quests
  {else}
    <ol>
      {foreach $quests as $quest}
      <li>{$quest->name} {if $quest->progress}<b>(Active)</b>{else}<a href="{plink Quest:accept $quest->id}">Accept</a>{/if} {if $quest->progress AND $quest->npc_end == $id}<a href="{plink Quest:finish $quest->id}">Finish</a>{/if} <a href="{plink Quest:view $quest->id}">Details</a></li>
      {/foreach}
    </ol>
  {/if}
  </p>