{layout '../@layout.latte'}
{block title}NPC{/block}
{block content}
  <h1>{$name}</h1>
  <p>{$description}</p>
  <p>Actions:<br>
    <a n:href="Npc:talk $id">Talk</a><br>
    {if $type == "quest"}<a n:href="Npc:quests $id">Quests</a><br>{/if}
    {if $type == "shop"}<a n:href="Npc:trade $id">Trade</a><br>{/if}
    {if $type == "enemy"}Fight<br>{/if}
  </p>
{/block}