<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>HeroesofAbenez {$server} - NPC</title>
</head>
<body>
{include "../navigation.latte"}
<article id="main">
  <h1>{$name}</h1>
</article>
{include "../footer.latte"}
</body>
</html>