{layout '../@layout.latte'}
{block title}Quests{/block}
{block content}
  <h1>{$name} - Quests</h1>
  <p>Available quests:<br>
  {if count($quests) == 0}
  No quests
  {else}
    <ol>
      {foreach $quests as $quest}
      <li>{$quest->name} {if $quest->progress}<b>(Active)</b>{else}<a n:href="Quest:accept $quest->id">Accept</a>{/if}</li>
      {/foreach}
    </ol>
  {/if}
  </p>
{/block}