  <aside id="chat_characters">
    <p>{_"chat.peopleInRoom"}
{foreach $characters as $character}
      {if $characterProfileLink}<a href="{plink $characterProfileLink $character->id}">{$character->name}</a>{else}{$character->name}{/if}{if !$iterator->last}, {/if}
{/foreach}    </p>
  </aside>
  <article id="chat_texts">
{foreach $texts as $text}
    <span id="chat_text_{$text->id}">{$text->character->name} ({$text->when}): {$text->message}</span><br>
{/foreach}
  </article>
