  <aside id="chat_characters">
    <p>{_texts.chat.charactersInRoom}
{foreach $characters as $character}
      <a href="{plink Profile:view $character->id}">{$character->name}</a>{if !$iterator->last}, {/if}
{/foreach}    </p>
  </aside>
  <article id="chat_texts">
{foreach $texts as $text}
    <span id="chat_text_{$text->id}">{$text->character->name} ({$text->when}): {$text->message}</span><br>
{/foreach}
  </article>
