tracy:
    email: "jakub.konecny2@centrum.cz"
extensions:
    fakeSession: Kdyby\FakeSession\DI\FakeSessionExtension
database:
    default:
        dsn: "mysql:host=mysql;dbname=heroesofabenez"
        user: root
        password: root
php:
    date.timezone: Europe/Prague
hoa:
    application:
        server: sTest
