parameters:
    database:
        dsn: "mysql:host=localhost;dbname=heroesofabenez"
        user: heroesofabenez
        password: qwerty
    application:
        server: sTest
        webmasterMail: "jakub.konecny2@centrum.cz"
php:
    date.timezone: Europe/Prague
application:
    #errorPresenter: "Error"
    #catchExceptions: true