includes:
    - local.neon
    - routes.neon
    - caches.neon
application:
    debugger: true
    mapping:
        *: HeroesofAbenez\Presenters\*Presenter
database:
    default:
        dsn: %database.dsn%
        user: %database.user%
        password: %database.password%
        debugger: true
        explain: true
di:
    debugger: true
tracy:
    email: %application.webmasterMail%
    strictMode: TRUE
session:
    savePath: "%tempDir%/sessions"
    name: HOASESSID
    expiration: 1 hour
services:
    authenticator: HeroesofAbenez\Authenticator
    authorizator: HeroesofAbenez\Authorizator::create
    model.character: HeroesofAbenez\CharacterModel(@caches.characters)
    model.journal: HeroesofAbenez\Journal
    model.request: HeroesofAbenez\RequestModel