application:
    mapping:
        *: HeroesofAbenez\Presenters\*Presenter
    scanDirs: no
tracy:
    strictMode: TRUE
session:
    savePath: "%tempDir%/sessions"
    name: HOASESSID
    expiration: 1 hour
extensions:
    translation: Nexendrie\Translation\Bridges\NetteDI\TranslationExtension
    hoa: HeroesofAbenez\Model\DI\HOAExtension
    menu: Nexendrie\Menu\DI\MenuExtension
    dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
    orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
orm:
    model: HeroesofAbenez\Orm\Model
translation:
    localeResolver: header
menu:
    default:
        htmlId: navigation
        translate: true
        items:
            texts.common.home: "Homepage:"
            texts.journal.title: "Journal:"
            texts.guild.title: "Guild:"
            texts.tavern.title: "Tavern:local"
            texts.postoffice.title: "Postoffice:"
            texts.arena.title: "Arena:"
            texts.ranking.title: "Ranking:characters"
            texts.map.title: "Map:local"
