services:
    model.character: HeroesofAbenez\CharacterModel
    model.equipment: HeroesofAbenez\EquipmentModel
    model.guild: HeroesofAbenez\GuildModel
    model.intro: HeroesofAbenez\Intro
    model.item: HeroesofAbenez\ItemModel
    model.journal: HeroesofAbenez\Journal
    model.location: HeroesofAbenez\Location
    model.map: HeroesofAbenez\Map
    model.mapdrawer: HeroesofAbenez\MapDrawer
    model.npc: HeroesofAbenez\NPCModel
    model.permissions: HeroesofAbenez\Permissions
    model.profile: HeroesofAbenez\Profile
    model.ranking: HeroesofAbenez\Ranking
    model.request: HeroesofAbenez\RequestModel
    model.quest: HeroesofAbenez\QuestModel