services:
    model.character: HeroesofAbenez\Model\Character
    model.equipment: HeroesofAbenez\Model\Equipment
    model.guild: HeroesofAbenez\Model\Guild
    model.intro: HeroesofAbenez\Model\Intro
    model.item: HeroesofAbenez\Model\Item
    model.journal: HeroesofAbenez\Model\Journal
    model.location: HeroesofAbenez\Model\Location
    model.map: HeroesofAbenez\Model\Map
    model.mapdrawer: HeroesofAbenez\Model\MapDrawer
    model.npc: HeroesofAbenez\Model\NPC
    model.permissions: HeroesofAbenez\Model\Permissions
    model.profile: HeroesofAbenez\Model\Profile
    model.request: HeroesofAbenez\Model\Request
    model.quest: HeroesofAbenez\Model\Quest
    model.userManager: HeroesofAbenez\Model\UserManager
