routing:
    routes:
        "profile/<id>": "Profile:view"
        "guild/join[/<id>]": "Guild:join"
        "guild/create": "Guild:create"
        "guild/leave": "Guild:leave"
        "guild/manage": "Guild:manage"
        "guild/members": "Guild:members"
        "guild/rename": "Guild:rename"
        "guild/dissolve": "Guild:dissolve"
        "guild/<id>": "Guild:view"
        "travel[/<location>]": "Travel:default"
        "ranking/guilds[/<page>]": "Ranking:guilds"
        "ranking[/<page>]": "Ranking:default"
        "<presenter>[/<action>][/<id>]": "Homepage:default"