routing:
    routes:
        "ranking[/<page=1 [0-9]+>]": "Ranking:characters"
        "ranking/<action>[/<page=1 [0-9]+>]": "Ranking:characters"
        "map[/<action>]": "Map:local"
        "<presenter>/<id [0-9]+>": "Homepage:view"
        "<presenter>[/<action>][/<id>]": "Homepage:default"