parameters:
    database:
        dsn: "mysql:host=localhost;dbname=heroesofabenez"
        user: heroesofabenez
        password: qwerty
    application:
        siteName: HeroesofAbenez sTest
        baseUrl: "http://kobliha/heroesofabenez"
application:
    debugger: true
database:
    default:
        dsn: %database.dsn%
        user: %database.user%
        password: %database.password%
        debugger: true
        explain: true
di:
    debugger: true
tracy:
    email: jakub.konecny2@centrum.cz
    strictMode: TRUE
services:
    page: HTML\Page
session:
    savePath: "%tempDir%/sessions"
    name: HOASESSID
    expiration: 7 days