{layout "../@layout.latte"}
{block title}{_"texts.map.travelTitle"}{/block}
{block content}
    <h1>{_"texts.map.title"}</h1>
    <img src="{$image|replace,$wwwDir,$basePath}" usemap="#global_map" alt="{_"texts.map.globalMap"}">
    <map name="global_map">
        {foreach $areas as $area}
            <area href="{$area->href}" shape="{$area->shape}" coords="{$area->coords}" title="{$area->title}">
        {/foreach}
    </map>
{/block}