{layout '../@layout.latte'}
{block title}Travel{/block}
{block content}
  <h1>Map</h1>
  <image src="{$image|replace:$wwwDir:$basePath}" usemap="#local_map" alt="Local Map">
  <map name="local_map">
  {foreach $areas as $area}
    <area href="{$area->href}" shape="{$area->shape}" coords="{$area->coords}" title="{$area->title}">
  {/foreach}
  </map>
{/block}