{layout '../@layout.latte'}
{block title}Travel{/block}
{block content}
  <h1>Map</h1>
  <h2>Stages in current area</h2>
  {foreach $stages as $stage}
  {if $stage->id == $currentStage}{$stage->name}<br>
  {else}<a n:href="Travel:stage $stage->id">{$stage->name}</a><br>{/if}
  {/foreach}
{/block}