  <h1>{$message->subject}</h1>
  {_texts.postoffice.from}: {$message->from->name}<br>
  {_texts.postoffice.to}: {$message->to->name}<br>
  {_texts.postoffice.subject}: {$message->subject}<br>
  {_texts.postoffice.sent}: {$message->sentAt}
  <p>{$message->text}</p>