  <h1>{$message->subject}</h1>
  {_"texts.postoffice.from"}: {$message->from->name}<br>
  {_"texts.postoffice.to"}: {$message->to->name}<br>
  {_"texts.postoffice.subject"}: {$message->subject}<br>
  {_"texts.postoffice.sent"}: {$message->sentAt}
  <p>{$message->text}</p>