  <h1>{_"texts.postoffice.receivedTitle"}</h1>
  <p>{_"texts.postoffice.messages"} {_"texts.postoffice.received"} <a href="{plink Postoffice:sent}">{_"texts.postoffice.sent"}</a> <a href="{plink Postoffice:new}">{_"texts.postoffice.new"}</a></p>
  <article id="messages">
  {if count($messages) === 0}
    {_"texts.postoffice.noMessages"}
  {else}
    <table>
      <tr><th>{_"texts.postoffice.from"}</th><th>{_"texts.postoffice.subject"}</th><th>{_"texts.postoffice.sent"}</th><th></th></tr>
      {foreach $messages as $message}
      <tr><td>{$message->from->name}</td><td>{$message->subject}</td><td>{$message->sentAt}</td><td><a href="{plink Postoffice:message $message->id}">{_"texts.postoffice.viewMessage"}</a></td></tr>
      {/foreach}
    </table>
  {/if}
  </article>