{layout '../@layout.latte'}
{block title}Post office{/block}
{block content}
  <h1>Post office</h1>
  <p>Messages: <a n:href="Postoffice:received">Received</a> <a n:href="Postoffice:sent">Sent</a> <a n:href="Postoffice:new">New</a></p>
{/block}