{layout "../@layout.latte"}
{block title}{_texts.postoffice.messageTitle}{/block}
{block content}
  <h1>{$subject}</h1>
  {_texts.postoffice.from}: {$from}<br>
  {_texts.postoffice.to}: {$to}<br>
  {_texts.postoffice.subject}: {$subject}<br>
  {_texts.postoffice.sent}: {$sent}
  <p>{$text}</p>
{/block}