{layout '../@layout.latte'}
{block title}{_texts.postoffice.messageTitle}{/block}
{block content}
  <h1>{$subject}</h1>
  From: {$from}<br>
  To: {$to}<br>
  Subject: {$subject}<br>
  Sent: {$sent}
  <p>{$text}</p>
{/block}