1:
    name: "Academy of Magic"
    description: " "
2:
    name: "Sands of Ramir - borderlands"
    description: " "
3:
    name: "Border woods"
    description: " "
4:
    name: "North Great Horde"
    description: " "