1:
    name: "bojovník"
    description: "Bojovníci mají sklon používat hrubého násili k řešení problémů. Jejich výdrž je pozoruhodná, avšak jejich poněkud divoké vzezření a nižší inteligence jim nezískává příliš respektu ve společnosti (obecně).<br>++ODO, +SÍL, -INT, -CHAR"
2:
    name: "darebák"
    description: "Darebáci se snaží vyhnout přímému soubojí jak je to jen možné, protože jsou fyzicky veli křehcí, dávají přednost napadání ze stínů (a)nebo používání triků. Když už se ale zapojí do souboje, spolehají se na svou rychlost k vyhnutí se nepřítelovým útokům a prolomení jeho obrany.<br>++OBR, +SÍL, --ODO"
3:
    name: "kouzelník"
    description: "Kouzelníci jsou nejmoudřejší ze všech tříd. Většina z nich studovala na Akademii magie, kde se naučili (kromě magických teorií a sesílání několika základních kouzel) číst a psát (něco, co většina lidí neumí). Ohromují ostatní svou zářící inteligencí a charisma, avšak jejich fyziké schránky jsou velmi křehké.<br>++INT, +CHAR, -SÍL, -ODO"
4:
    name: "lučištník"
    description: "Ač fyzicky slabí, lučištníci jsou velmi obrantní (stejně jako darebáci) a dokonce se jim dostalo základního vzdělání. Nevynikají v souboji na blízko, ale zpacifikovat své nepřátelo luky, kušemi nebo (pokud je situace velmi zoufalá) vrhacími zbraněmi než se k nim vůbec dostanou blízko.<br>++OBR, -SÍL"
5:
    name: "bard"
    description: "Bardi cestují po světě a za peníze baví lidi zpěvem či hrou na hudební nástroje. Jen zřídka se zapojují do soboujů, ale když ano, tak se snaží vyhnout nepřítelovým útokům a zmást jej svýmy nástroji.<br>++CHAR, +OBR, -SÍL, -ODO"
6:
    name: "kazatel"
    description: "Kazatelé jsou charismatičtí a vzdělaní, zasvětili své životy učením ostatních o bozích a šíření víry. Dokaží přesvědčit lidi kouzlem své osobnosti a vědomostmi, ale chybí jim fyzická síla a obratnost.<br>++CHAR, +INT, -SÍL, -OBR"
