log:
    title: "Souboj"
    participant: "%name%: úroveň %level%"
    round: "Kolo %count%"
    results: "Výsledky:"
    attackHits: "%character1% útočí na %character2% a zasahuje. %character2% ztrácí %count% životů."
    attackFails: "%character1% útočí na %character2%, ale míjí."
    specialAttackHits: "%character1% používá útok %name% na %character2% a zasahuje. %character2% ztrácí %count% životů."
    specialAttackFails: "%character1% používá útok %name% na %character2%, ale míjí."
    specialSkillSuccess: "%character1% úspěšně používá %name% na %character2%."
    specialSKillFailure: "%character1% se pokouší seslat %name% na %character2%, ale selhává."
    healingSuccess: "%character1% léčí %character2% %count% životů."
    healingFailure: "%character1% se pokouší léčit %character2%, ale selhává."
    poison: "%character1% ztrácí %count% životů kvůli jedu."
    characterFalls: " Padá na zem."
    combatEnd: "Souboj končí. %team1name% způsobil %team1damage% poškození, %team2name% způsobil %team2damage% poškození. %winner% vítězí."
