log:
    title: "Combat"
    participant: "%name%: level %level%"
    round: "Round %count%"
    results: "Results:"
    attackHits: "%character1% attacks %character2% and hits. %character2% loses %count% hitpoints."
    attackFails: "%character1% attacks %character2% but misses."
    specialAttackHits: "%character1% uses attack %name% on %character2% and hits. %character2% loses %count% hitpoints."
    specialAttackFails: "%character1% uses attack %name% on %character2% but misses."
    specialSkillSuccess: "%character1% successfully casts %name% on %character2%."
    specialSKillFailure: "%character1% tries to cast %name% on %character2% but fails."
    healingSuccess: "%character1% heals %character2% for %count% hitpoint(s)."
    healingFailure: "%character1% tries to heal %character2% but fails."
    poison: "%character1% loses %count% hitpoint(s) due to poison."
    characterFalls: " He/she falls on the ground."
    combatEnd: "Combat ends. %team1name% dealt %team1damage% damage, %team2name% dealt %team2damage% damage. %winner% wins."
