1:
    name: "Nováčkův meč"
    description: "Meč dávaný čerstvým rekrutům. Působí velmi malé poškození."
2:
    name: "Nováčkova sekera"
    description: "Sekera dávaná čerstvým rekrutům. Působí velmi malé poškození."
3:
    name: "Zelenáčova dýka"
    #description: "Dagger used by new rogues. Its usefulness in combat is questionable."
4:
    name: "Zelenáčův nůž"
    #description: "Some rogues prefer to use ranged weapons like knives or crossbows. This light knive is used by newcomers."
5:
    name: "Učedníkova hůlka"
    description: "Hůlka používaná mágy učedníky."
6:
    name: "Nováčkův luk"
    description: "Malý, obyčejný luk používaný při výcviku lučištníků."
7:
    name: "Kožená zbroj"
    description: "Brnění pro rekruty. Nechrání tak dobře před poškozením, ale je lepší než vůbec nic."
8:
    name: "Zelenáčův plášť"
    #description: "This cloak identifies a new rogue. It itches a bit but does not slow the rogue down."
9:
    name: "Učedníkova róba"
    description: "Róba mága učedníka. Chrání jen před zimou."
10:
    name: "Zelený plášť"
    description: "Lučištníci používají různé barvy pláštů k vyjádření úrovně jejich dovedností a zkušeností. Začínající lučištníci nosí zelené plášťě."