guild:
    inGuild: "Už jsi v cechu."
    notInGuild: "Nejsi v cechu."
    cannotManage: "Nemůžes spravovat cech."
    cannotRename: "Nemůžes přejmenovat cech."
    cannotDissolve: "Nemůžes rozpustit cech."
    cannotChangeDescription: "Nemůžes změnit popis cechu."
    doesNotExist: "Cechu neexistuje."
    cannotManageApps: "Nemůžes spravovat přihlášky."
    nameTaken: "Cech s tímto jménem již existuje."
    missingPermissions: "K tomuto nemáš oprávnění."
    playerNotInGuild: "Zadaný hráč není v tvém cechu."
    playerDoesNotExist: "Zadaný hráč neexistuje."
    cannotPromoteHigherRanks: "Nemůžeš povyšovat členy se stejnou nebo vyšší hodností."
    cannotPromoteToGranmaster: "Nemůžeš povyšovat členy na velmistra."
    cannotDemoteHigherRanks: "Nemůžeš degradovat členy se stejnou nebo vyšší hodností."
    cannotDemoteLowestRank: "Nemůžeš degradovat členy s nejnižší hodností."
    cannotKickHigherRanks: "Nemůžeš vyhodit členy se stejnou nebo vyšší hodností."
    grandmasterCannotLeave: "Velmistr nemůže opustit cech."
    cannotHaveMoreDeputies: "Cech nemůže mít více než 1 zástupce."
    cannotChangeRankNames: "Nemůžeš měnit jména hodností."
npc:
    noShop: "Toto npc nemá obchod."
quest:
    workingOn: "Už pracuješ na tomto úkolu."
    notWorkingOn: "Nepracuješ na tomto úkolu."
    cannotAcceptHere: "Odtud nemůžeš přijmout úkol."
    cannotFinishHere: "Tady nemůžeš dokončit úkol."
    requirementsNotMet: "Nesplňuješ požadavky tohoto úkolu."
shop:
    itemDoesNotExist: "Zadaná věc neexistuje."
    cannotBuyHere: "Odtud si nemůžeš koupit tuto věc."
    notEnoughMoney: "Nemáš dostatek peněz."
request:
    cannotSee: "Nemůže vidět tento požadavek."
    cannotAccept: "Nemůže přijmout tento požadavek."
    cannotDecline: "Nemůže zamítnout tento požadavek."
    typeNotImplemented: "Tento typ požadavku není implementován."
    handled: "Tento požadavek už byl vyřízen."
travel:
    #stageDoesNotExist: "Specified stage doesn't exist."
    #cannotTravelToStage: "You can't travel to specified stage."
arena:
    lowLevel: "Musíš dosáhnout úroveň %count%, aby jsi mohl vstoupit do arény."
journal:
   cannotLevelUp: "Nemáš dostatek zkušeností pro postup na další úroveň."
training:
    noStatPointsAvailable: "Nemáš žádné body vlastností."
    noSkillPointsAvailable: "Nemáš žádné body dovedností."
    skillMaxLevelReached: "Dosáhl(a) jsi maximální úrovně pro tuto dovednost"
    cannotLearnSkill: "Nemůžeš se naučit tuto dovednost."
equipment:
    unequiped: "Sundal(a) jsi věc."
    notWorn: "Nenosíš tuto věc."
    alreadyWorn: "Už nosíš tuto věc."
pet:
    notFound: "Zadaný mazlíček nebyl nalezen."
    notOwned: "Zadaný mazlíček ti nepatří."
    notDeployed: "Zadaný mazlíček není používán."
    alreadyDeployed: "Tento mazlíček je již používán."