guild:
    inGuild: "You are already in guild."
    notInGuild: "You are not in guild."
    cannotManage: "You can't manage guild."
    cannotRename: "You can't rename guild."
    cannotDissolve: "You can't dissolve guild."
    cannotChangeDescription: "You can't change guild's description."
    doesNotExist: "Guild doesn't exist."
    cannotManageApps: "You can't manage applications."
    nameTaken: "Guild with this name already exists."
    missingPermissions: "You don't have permissions for this."
    playerNotInGuild: "Specified player isn't in your guild."
    playerDoesNotExist: "Specified player doesn't exist."
    cannotPromoteHigherRanks: "You can't promote members with same or higher ranks."
    cannotPromoteToGrandmaster: "You can't promote members to grandmaster."
    cannotDemoteHigherRanks: "You can't demote members with same or higher ranks."
    cannotDemoteLowestRank: "You can't demote members with the lowest rank."
    cannotKickHigherRanks: "You can't kick members with same or higher rank."
    grandmasterCannotLeave: "Grandmaster cannot leave guild."
    cannotHaveMoreDeputies: "Guild can't have more than 1 deputy."
    cannotChangeRankNames: "You can't change rank names."
npc:
    noShop: "This npc doesn't have shop."
    notEnemy: "You cannot challange this npc."
    notSmith: "This npc doesn't repair items."
quest:
    workingOn: "You are already working on this quest."
    notWorkingOn: "You aren't working on this quest."
    cannotAcceptHere: "You can't accept the quest from this location."
    cannotFinishHere: "You can't finish the quest from this location."
    requirementsNotMet: "You don't meet requirements for this quest."
    questNotAvailable: "This quest is not available (yet)."
shop:
    itemDoesNotExist: "Specified item doesn't exist."
    cannotBuyHere: "You can't buy the item from this location."
    notEnoughMoney: "You don't have enough money."
request:
    cannotSee: "You can't see this request."
    cannotAccept: "You can't accept this request."
    cannotDecline: "You can't decline this request."
    typeNotImplemented: "This type of request is not implemented."
    handled: "This request was already handled."
travel:
    stageDoesNotExist: "Specified stage doesn't exist."
    cannotTravelToStage: "You can't travel to specified stage."
    areaDoesNotExist: "Specified area doesn't exist."
    cannotTravelToArea: "You can't travel to specified area."
arena:
    lowLevel: "You need to reach level %count% to enter Arena."
    cannotFightToday: "You cannot fight more than %count% times in Arena in one day."
journal:
    cannotLevelUp: "You do not have enough experiences for next level."
    cannotChooseSpecialization: "You cannot choose specialization yet."
    specializationAlreadyChosen: "You have already chosen your specialization."
    specializationNotChosen: "You did not choose specialization."
    specializationNotAvailable: "Chosen specialization is not available to you."
training:
    noStatPointsAvailable: "You have no stat points available."
    noSkillPointsAvailable: "You have no skill points available."
    skillMaxLevelReached: "You reached max level for this skill."
    cannotLearnSkill: "You cannot learn this skill."
equipment:
    notWorn: "You are not wearing this item."
    alreadyWorn: "You are already wearing this item."
    notEquipable: "This item cannot be equipped."
    notDamaged: "This item is not damaged."
    notEnoughMoney: "You do not have enough money for reparing this item."
pet:
    notFound: "Specified pet was not found."
    notOwned: "Specified pet is not yours."
    notDeployed: "Specified pet is not deployed."
    alreadyDeployed: "The pet is already deployed."
    notDeployable: "You cannot deploy this pet."
friendship:
    alreadyFriends: "You are already friends with this character."
    alreadyRequested: "You already sent friendship request to this character."
