1:
    name: "Book ABC"
    description: "A book."
2:
    name: "Novice's Sword"
    description: "Sword given to fresh recruits. Deals very little damage."
3:
    name: "Novice's Axe"
    description: "Axe given to fresh recruits. Deals very little damage."
4:
    name: "Rookie's Dagger"
    description: "Dagger used by new rogues. Its usefulness in combat is questionable."
5:
    name: "Rookie's Knife"
    description: "Some rogues prefer to use ranged weapons like knives or crossbows. This light knive is used by newcomers."
6:
    name: "Apprentice's Wand"
    description: "Wand used by apprentice mages."
7:
    name: "Novice's Bow"
    description: "Plain and small bow used for training of archers."
8:
    name: "Leather Armor"
    description: "Armor for recruits. Does not protect well from damage but is better than nothing at all."
9:
    name: "Rookie's Cloak"
    description: "This cloak identifies a new rogue. It itches a bit but does not slow the rogue down."
10:
    name: "Apprentice's Robe"
    description: "Robe of an apprentice mage. Protects only from cold."
11:
    name: "Green Cloak"
    description: "Archers use different color of cloak to express their skill level and experience. Novice archers wear light-weight green cloak."