1:
    name: "Spell casting for dummies"
    description: "A book about casting spells for new mages."
2:
    name: "Novice's Sword"
    description: "Sword given to fresh recruits. Deals very little damage."
3:
    name: "Novice's Axe"
    description: "Axe given to fresh recruits. Deals very little damage."
4:
    name: "Rookie's Dagger"
    description: "Dagger used by new rogues. Its usefulness in combat is questionable."
5:
    name: "Rookie's Knife"
    description: "Some rogues prefer to use ranged weapons like knives or crossbows. This light knive is used by newcomers."
6:
    name: "Apprentice's Wand"
    description: "Wand used by apprentice mages."
7:
    name: "Novice's Bow"
    description: "Plain and small bow used for training of archers."
8:
    name: "Leather Armor"
    description: "Armor for recruits. Does not protect well from damage but is better than nothing at all."
9:
    name: "Rookie's Cloak"
    description: "This cloak identifies a new rogue. It itches a bit but does not slow the rogue down."
10:
    name: "Apprentice's Robe"
    description: "Robe of an apprentice mage. Protects only from cold."
11:
    name: "Green Cloak"
    description: "Archers use different color of cloak to express their skill level and experience. Novice archers wear light-weight green cloak."
12:
    name: "Novice's Shield"
    description: "Shield given to fresh recruits."
13:
    name: "Novice's Helmet"
    description: "Helmet for recruits. Does little to protect head."
14:
    name: "Amulet of Swiftness"
    description: "Improves the speed of attacks of its bearer a little."
15:
    name: "Soldier's Sword"
    description: "Sword given to seasoned fighters."
16:
    name: "Soldier's Axe"
    description: "Axe given to seasoned fighters."
17:
    name: "Rogue's Dagger"
    description: "Dagger used by seasoned rogues."
18:
    name: "Rogue's Knife"
    description: "Knife used by seasoned rogues."
19:
    name: "Soldier's Spear"
    description: "Spear given to seasoned fighters."
20:
    name: "Rogue's Crossbow"
    description: "Weapon of choice of some seasoned rogues."
21:
    name: "Wizard's Staff"
    description: "Staff used by seasoned mages."
22:
    name: "Archer's Bow"
    description: "Bigger bow used by seasoned archers."
23:
    name: "Soldier's Armor"
    description: "Metal armor for seasoned fighters. Protects from light damage."
24:
    name: "Rogue's Cloak"
    description: "Quite comfortable cloak used by seasoned rogues."
25:
    name: "Wizard's Robe"
    description: "Green robe worn by seasoned mages. Does not provide much protection from damage."
26:
    name: "Brown Cloak"
    description: "Cloak worn by seasoned archers."
27:
    name: "Soldier's Helmet"
    description: "Metal helmet for seasoned fighters. Protects head from light damage."
28:
    name: "Wizard's Hat"
    description: "Yellow hat for seasoned mages."
29:
    name: "Soldier's Shield"
    description: "Small shield used by seasoned fighters."
30:
    name: "Mallet"
    description: "Weapon of choice of some seasoned fighters."
31:
    name: "Ring of Accuracy"
    description: "Improves precision of attacks of its bearer a little."
32:
    name: "Cunning combat moves"
    description: "A book about useful combat moves for new rogues."
33:
    name: "Advanced combat techniques"
    description: "A book about useful combat techniques for new fighters."
34:
    name: "Red shirt"
    description: "A shirt popular among novice bards."
35:
    name: "Pipe"
    description: "An instrument of choice of many novice bards."
36:
    name: "Flute"
    description: "Favorite instrument of many seasoned bards."
37:
    name: "Drum"
    description: "An instrument of some seasoned bards."
38:
    name: "Violet shirt"
    description: "A shirt popular among seasoned bards."
39:
    name: "Blessed Sword"
    description: "A sword popular among novice paladins."
40:
    name: "Blessed Maul"
    description: "Weapon of choice of some novice paladins."
41:
    name: "Blessed Armor"
    description: "Armor used by novice paladins."
42:
    name: "Blessed Shield"
    description: "Schield used by novice paladins."
43:
    name: "Blessed Helmet"
    description: "Helmet used by novice paladins."
44:
    name: "Bloody Axe"
    description: "An axe popular among novice berserkers."
45:
    name: "Bloody Spear"
    description: "Weapon of choice of some novice berserkers."
46:
    name: "Bear Coat"
    description: "Armor used by novice berserkers."
47:
    name: "Sorcerer's Staff"
    description: "Staff used by novice sorcerers."
48:
    name: "Sorcerer's Coat"
    description: "Armor used by novice sorcerers."
49:
    name: "Sorcerer's Hat"
    description: "Red hat for novice sorcerers."
50:
    name: "Amulet of High Speed"
    description: "Improves the speed of attacks of its bearer a little."
51:
    name: "Ring of Great Precision"
    description: "Improves precision of attacks of its bearer a little."
52:
    name: "Wanderer's Coat"
    description: "Coat worn by novice mystics."
53:
    name: "Wanderer's Staff"
    description: "Staff used by novice mystics."
54:
    name: "Forest Keeper's Cloak"
    description: "Cloak worn by novice rangers."
55:
    name: "Forest Keeper's Bow"
    description: "Bow used by novice rangers."
56:
    name: "Slayer's Cloak"
    description: "Cloak worn by novice executioners."
57:
    name: "Slayer's Dagger"
    description: "Dagger used by novice executioners."
58:
    name: "Slayer's Knife"
    description: "Knife used by novice executioners."
59:
    name: "Spy's Cloak"
    description: "Cloak worn by novice spies."
60:
    name: "Spy's Dagger"
    description: "Dagger used by novice spies."
61:
    name: "Spy's Crossbow"
    description: "Crossbow used by novice spies."
62:
    name: "Amulet of Light Speed"
    description: "Improves the speed of attacks of its bearer quite a lot."
63:
    name: "Preacher's Crook"
    description: "Crook used by novice preachers."
64:
    name: "Preacher's Gown"
    description: "Gown worn by novice preachers."
65:
    name: "Missionary's Crook"
    description: "Crook used by seasoned preachers."
66:
    name: "Missionary's Gown"
    description: "Gown worn by seasoned preachers."
67:
    name: "Priest's Crook"
    description: "Crook used by novice priests."
68:
    name: "Priest's Gown"
    description: "Gown worn by novice priests."
69:
    name: "Monk's Flail"
    description: "Weapons used by novice monks."
70:
    name: "Monk's Cowl"
    description: "Armor worn by novice monks."
