1:
    name: "Sesílání kouzel pro nechápavé"
    description: "Kniha o sesílání kouzel pro nové mágy."
2:
    name: "Nováčkův meč"
    description: "Meč dávaný čerstvým rekrutům. Působí velmi malé poškození."
3:
    name: "Nováčkova sekera"
    description: "Sekera dávaná čerstvým rekrutům. Působí velmi malé poškození."
4:
    name: "Zelenáčova dýka"
    description: "Dýka používaná novými darebáky. Její užitečnost v souboji je pochybná."
5:
    name: "Zelenáčův nůž"
    description: "Někteří darebáci dávají přednost zbraním na dálku, jako jsou nože nebo kuše. Tento lehký nůž je používán nováčky."
6:
    name: "Učedníkova hůlka"
    description: "Hůlka používaná mágy učedníky."
7:
    name: "Nováčkův luk"
    description: "Malý, obyčejný luk používaný při výcviku lučištníků."
8:
    name: "Kožená zbroj"
    description: "Brnění pro rekruty. Nechrání tak dobře před poškozením, ale je lepší než vůbec nic."
9:
    name: "Zelenáčův plášť"
    description: "Tento plášť označuje nového darebáka. Trochu svědí, ale nezpomaluje darebáka."
10:
    name: "Učedníkova róba"
    description: "Róba mága učedníka. Chrání jen před zimou."
11:
    name: "Zelený plášť"
    description: "Lučištníci používají různé barvy pláštů k vyjádření úrovně jejich dovedností a zkušeností. Začínající lučištníci nosí zelené plášťě."
12:
    name: "Nováčkův štít"
    description: "Štít dávaný čerstvým rekrutům."
13:
    name: "Nováčkova helma"
    description: "Helma pro rekruty. Chrání hlavu jen nepatrně."
14:
    name: "Amulet rychlosti"
    description: "Mírně zvyšuje rychlost útoků svého nositele."
15:
    name: "Vojákův meč"
    description: "Meč dávaný zkušeným bojovníkům."
16:
    name: "Vojákova sekera"
    description: "Sekera dávaná zkušeným bojovníkům."
17:
    name: "Darebákova dýka"
    description: "Dýka používaná zkušenými darebáky."
18:
    name: "Darebákův nůž"
    description: "Nůž používaný zkušenými darebáky."
19:
    name: "Vojákovo kopí"
    description: "Kopí dávaná zkušeným bojovníkům."
20:
    name: "Darebákova kuše"
    description: "Oblíbená zbraň některých zkušených darebáků."
21:
    name: "Čarodějova hůl"
    description: "Hůl používaná zkušenými mágy."
22:
    name: "Luk lučištníka"
    description: "Větší luk používaný zkušenými lučištníky."
23:
    name: "Vojákovo brnění"
    description: "Kovové brnění pro zkušené bojovníky. Chrání před lehkým poškozením."
24:
    name: "Darebákův plášť"
    description: "Docela pohodlný plášť používaný zkušenými darebáky."
25:
    name: "Čarodějova róba"
    description: "Zelená róba nošená zkušenými mágy. Neposkytuje příliš dobrou ochranu před poškozením."
26:
    name: "Hnědý plášť"
    description: "Plášť nošený zkušenými lučištníky."
27:
    name: "Vojákova helma"
    description: "Kovová helma pro zkušené bojovníky. Chrání hlavu před lehkým poškozením."
28:
    name: "Čarodějův klobouk"
    description: "Žlutý klobouk pro zkušené mágy."
29:
    name: "Vojákův štít"
    description: "Malý štít používaný zkušenými bojovníky."
30:
    name: "Palice"
    description: "Oblíbená zbraň některých zkušených bojovníků."
31:
    name: "Prsten přesnosti"
    description: "Mírně zvyšuje přesnost útoků svého nositele."
32:
    name: "Mazané soubojové pohyby"
    description: "Kniha o užitečných soubojových pohybech pro nové darebáky."
33:
    name: "Pokročilé soubojové techniky"
    description: "Kniha o užitečných soubojových technikách pro nové bojovníky."
34:
    name: "Červená košile"
    description: "Košile populární mezi začínajícími bardy."
35:
    name: "Píšťala"
    description: "Oblíbený nástroj mnoha začínajících bardů."
36:
    name: "Flétna"
    description: "Oblíbený nástroj mnoha zkušených bardů."
37:
    name: "Drum"
    description: "Nástroj některých zkušených bardů."
38:
    name: "Fialová košile"
    description: "Košile populární mezi zkušenými bardy."
39:
    name: "Požehnaný meč"
    description: "Meč populární mezi začínajícími paladiny."
40:
    name: "Požehnaná palice"
    description: "Oblíbená zbraň některých začínajících paladinů."
41:
    name: "Požehnané brnění"
    description: "Brnění používané začínajícími paladiny."
42:
    name: "Požehnaný štít"
    description: "Štít používaný začínajícími paladiny."
43:
    name: "Požehnaná helma"
    description: "Helma používaná začínajícími paladiny."
44:
    name: "Zkrvavená sekera"
    description: "Meč populární mezi začínajícími berserky."
45:
    name: "Zkrvavený ošťep"
    description: "Oblíbená zbraň některých začínajících berserků."
46:
    name: "Medvědí kožich"
    description: "Brnění používané začínajícími berserky."
47:
    name: "Čarodějova hůl"
    description: "Hůl používaná začínajícími čaroději."
48:
    name: "Čarodějův kabát"
    description: "Brnění používané začínajícími čaroději."
49:
    name: "Čarodějův klobouk"
    description: "Červený klobouk pro začínající čaroději."
50:
    name: "Amulet velké rychlosti"
    description: "Mírně zvyšuje rychlost útoků svého nositele."
51:
    name: "Prsten velké přesnosti"
    description: "Mírně zvyšuje přesnost útoků svého nositele."
52:
    name: "Tulákův kabát"
    description: "Kabát nošený začínajícími mystiky."
53:
    name: "Tulákova hůl"
    description: "Hůl používaná začínajícími mystiky."
54:
    name: "Plášť strážce lesa"
    description: "Plášť nošený začínajícími hraničáři."
55:
    name: "Luk strážce lesa"
    description: "Luk používaný začínajícími hraničáři."
56:
    name: "Zabijákův plášť"
    description: "Plášť nošený začínajícími vrahy."
57:
    name: "Zabijákova dýka"
    description: "Dýka používaný začínajícími vrahy."
58:
    name: "Zabijákův nůž"
    description: "Nůž používaný začínajícími vrahy."
59:
    name: "Špionův plášť"
    description: "Plášť nošený začínajícími špiony."
60:
    name: "Špionova dýka"
    description: "Dýka používaný začínajícími špiony."
61:
    name: "Špionova kuše"
    description: "Kuše používaný začínajícími špiony."
62:
    name: "Amulet rychlosti světla"
    description: "Silně zvyšuje rychlost útoků svého nositele."
63:
    name: "Kazatelova berla"
    description: "Berla používaná začínajícími kazateli."
64:
    name: "Kazatelovo roucho"
    description: "Roucho nošené začínajícími kazateli."
65:
    name: "Misionářova berla"
    description: "Berla používaná zkušenými kazateli."
66:
    name: "Misionářovo roucho"
    description: "Roucho nošené zkušenými kazateli."
67:
    name: "Knězova berla"
    description: "Berla používaná začínajícími knězi."
68:
    name: "Knězovo roucho"
    description: "Roucho nošené začínajícími knězi."
69:
    name: "Mnichův cep"
    description: "Zbraň používaná začínajícími mnichy."
70:
    name: "Knichova kutna"
    description: "Brnění nošené začínajícími mnichy."
