quest:
    accepted: "Quest accepted."
    finished: "Quest finished."
shop:
    itemBought: "Item bought."
travel:
    movedToStage: "You moved to %stageName%."
    movedToSArea: "You moved to %areaName%."
request:
    accepted: "Request accepted."
    declined: "Request declined."
    sent: "Request sent."
postoffice:
    messageSent: "Message sent."
guild:
    created: "Guild created."
    applicationSent: "Application sent."
    left: "You left guild."
    dissolved: "Guild dissolved."
    renamed: "Guild renamed."
    unresolvedApplication: "You have an unresolved application."
    promoted: "Member promoted."
    demoted: "Member demoted."
    kicked: "Member kicked."
    descriptionChanged: "Guild's description changed."
    customRankNamesSet: "Custom rank names set."
pet:
    discarded: "The pet was discarded."
chat:
    currentTime: "Current time is %time%."
    currentLocation: "You're currently in %stageName% at %areaName%."
equipment:
    unequiped: "Item was taken off."
    repaired: "Item repaired."