quest:
    accepted: "Úkol přijat."
    finnished: "Úkol dokončen."
shop:
    itemBougt: "Věc koupena."
travel:
    movedToStage: "Přesunul jsi se do %stageName%."
request:
    accepted: "Požadavek přijat."
    declined: "Požadavek zamítnut."
postoffice:
    messageSent: "Zpráva odeslána."
guild:
    created: "Cech vytvořen."
    applicationSent: "Přihláška odeslána."
    left: "OPustil jsi cech."
    dissolved: "Cech rozpušťen."
    renamed: "Cech přejmenován."
    unresolvedApplication: "Máš nevyřízenou přihlášku."
    promoted: "Člen povýšen."
    demoted: "Člen degradován."
    kicked: "Člen vyhozen."
    descriptionChanged: "Popis cechu změněn."
pet:
    discarded: "Mazlíček byl odložen."
chat:
    currentTime: "Aktuální čas je %time%."
    currentLocation: "Právě jsi v %stageName% v %areaName%."