quest:
    accepted: "Úkol přijat."
    finished: "Úkol dokončen."
shop:
    itemBought: "Věc koupena."
travel:
    movedToStage: "Přesunul jsi se do %stageName%."
    movedToSArea: "Přesunul jsi se do %areaName%."
request:
    accepted: "Požadavek přijat."
    declined: "Požadavek zamítnut."
postoffice:
    messageSent: "Zpráva odeslána."
guild:
    created: "Cech vytvořen."
    applicationSent: "Přihláška odeslána."
    left: "Opustil jsi cech."
    dissolved: "Cech rozpušťen."
    renamed: "Cech přejmenován."
    unresolvedApplication: "Máš nevyřízenou přihlášku."
    promoted: "Člen povýšen."
    demoted: "Člen degradován."
    kicked: "Člen vyhozen."
    descriptionChanged: "Popis cechu změněn."
    customRankNamesSet: "Vlastní jména pro hodnosti nastavena."
pet:
    discarded: "Mazlíček byl odložen."
chat:
    currentTime: "Aktuální čas je %time%."
    currentLocation: "Právě jsi v %stageName% v %areaName%."
equipment:
    unequiped: "Sundal(a) jsi věc."
    repaired: "Věc opravena."