1:
    name: "Mentor"
    description: "He's quite old for a human."
2:
    name: "Librarian"
    description: "She look like a typical middle-aged female librarian. She sells books and equipment for wizards."
