1:
    name: "Mentor"
    description: "He's quite old for a human."
2:
    name: "Librarian"
    description: "She look like a typical middle-aged female librarian. She sells books and equipment for wizards."
3:
    name: "Instructor"
    description: "He is a middle-aged barbarian warrior who helps with training of new adventures. You can see some scars on him face and arms, they are probably from battles with orcs."
4:
    name: "Blacksmith"
    description: "He is a tall barbarian who makes and repairs equipment."
5:
    name: "Nurse"
    description: "She is an elderly woman who takes care of sick and injured people in the Academy and sells various potions."
6:
    name: "Storeman"
    description: "He is a strong barbarian who operate the storehouse."
