1:
    name: "Zachráněný lev"
2:
    name: "Zachráněný had"
3:
    name: "Zachráněná sova"
4:
    name: "Zachráněný sokol"
5:
    name: "Pážecí lev"
6:
    name: "Pážecí tygr"
7:
    name: "Pážecí had"
8:
    name: "Pážecí sova"
9:
    name: "Pážecí sokol"
10:
    name: "Rytířův lev"
11:
    name: "Rytířův tygr"
12:
    name: "Rytířův had"
13:
    name: "Rytířova sova"
14:
    name: "Rytířův sokol"
15:
    name: "Královský lev"
16:
    name: "Královský tygr"
17:
    name: "Královský had"
18:
    name: "Královská sova"
19:
    name: "Královský sokol"
20:
    name: "Císařský lev"
21:
    name: "Císařský tygr"
22:
    name: "Císařský had"
23:
    name: "Císařská sova"
24:
    name: "Císařský sokol"