1:
    name: "Rescued Lion"
2:
    name: "Rescued Snake"
3:
    name: "Rescued Owl"
4:
    name: "Rescued Hawk"
5:
    name: "Squire's Lion"
6:
    name: "Squire's Tiger"
7:
    name: "Squire's Snake"
8:
    name: "Squire's Owl"
9:
    name: "Squire's Hawk"
10:
    name: "Knight's Lion"
11:
    name: "Knight's Tiger"
12:
    name: "Knight's Snake"
13:
    name: "Knight's Owl"
14:
    name: "Knight's Hawk"
15:
    name: "Royal Lion"
16:
    name: "Royal Tiger"
17:
    name: "Royal Snake"
18:
    name: "Royal Owl"
19:
    name: "Royal Hawk"