1:
    name: "Najdi knihu"
    introduction: "Abychom mohli pokračovat ve tvém výcviku, musíš získat knihu Sesílání kouzel pro nechápavé. Zeptej se na ní knihovnice."
    end_text: "Dobrá práce, můj učedníku. Kouzla jsou důležitá pro každého čaroděje. Pokaždé, když postoupíš na vyšší úroveň, získáš 1 bod dovedností, který můžeš v Deník - Trénovat použít k naučení se nové dovedností nebo zlepšení nějaké, kterou už umíš."
2:
    name: "Získej vybavení"
    introduction: "Teď si promluvme o vybavení. To je velmi důležité, když se dostaneš do souboje. Potřebuješ minimálně zbraň a zbroj. S dobrou zbraní způsobíš velké poškození a zbroj pohlcuje část protivníkova poškození. Zbraň pro nové dobrodruhy můžeš dostat od knihovnice. Až se vrátíš, dám ti zbroj."
    end_text: "Tady je tvá zbroj. Pamatuj, že vybavení se v každém souboji trochu opotřebovává, takže s ním občas budeš muset zajít ke kováři, aby ti jej opravil."
