1:
    name: "Přesouvání se"
    introduction: "Á, konečně jsi tady, můj učedníku, takže tvůj výcvik může začít. Jako první věc po tobě chci, aby jsi se seznámil s knihovnicí. Najdeš ji v knihovně. Aby jsi se tam dostal, klikni nahoře na Mapa, pak najdi Knihovna a klikni tam. A potom ji uvidíš."
    end_text: "Zdravím. Jsem knihovnice Akademie. Dávám učedníkům jejich knihy a vybavení a také mohu opravit jejich hůlky, když se poškodí. Ale dost už mluvení, jsem si jistá, že tvůj mentor má pro tebe nějaký úkol."
2:
    name: "Přesouvání se"
    introduction: "Á, konečně jsi tady, bažante, takže tvůj výcvik může začít. Jako první věc po tobě chci, aby jsi se seznámil s kovářem. Najdeš ho v kovárně. Aby jsi se tam dostal, klikni nahoře na Mapa, pak najdi Vesnice 1 - Kovárna a klikni tam. A potom ho uvidíš."
    end_text: "Zdravím. Jsem vesnický kovář. Dávám bažantům jejich knihy a vybavení a také mohu opravit jejich zbraně, když se poškodí. Ale dost už mluvení, jsem si jistý, že tvůj cvičitel má pro tebe nějaký úkol."
3:
    name: "Najdi knihu"
    introduction: "Abychom mohli pokračovat ve tvém výcviku, musíš získat knihu Sesílání kouzel pro nechápavé. Zeptej se na ní knihovnice."
    end_text: "Dobrá práce, můj učedníku. Kouzla jsou důležitá pro každého čaroděje. Pokaždé, když postoupíš na vyšší úroveň, získáš 1 bod dovedností, který můžeš v Deník - Trénovat použít k naučení se nové dovedností nebo zlepšení nějaké, kterou už umíš."
4:
    name: "Získej vybavení"
    introduction: "Teď si promluvme o vybavení. To je velmi důležité, když se dostaneš do souboje. Potřebuješ minimálně zbraň a zbroj. S dobrou zbraní způsobíš velké poškození a zbroj pohlcuje část protivníkova poškození. Zbraň pro nové dobrodruhy můžeš dostat od knihovnice. Až se vrátíš, dám ti zbroj."
    end_text: "Tady je tvá zbroj. Pamatuj, že vybavení se v každém souboji trochu opotřebovává, takže s ním občas budeš muset zajít ke kováři, aby ti jej opravil."
5:
    name: "Najdi knihu"
    introduction: "Abychom mohli pokračovat ve tvém výcviku, musíš získat knihu Pokročilé soubojové techniky. Zeptej se na ní kováře."
    end_text: "Velmi dobře, mladý bojovníku. Dobrý bojovník se nespoléhá jen na svou zbraň, používá i speciální pohyby. Pokaždé, když postoupíš na vyšší úroveň, získáš 1 bod dovedností, který můžeš v Deník - Trénovat použít k naučení se nové dovedností nebo zlepšení nějaké, kterou už umíš."
6:
    name: "Získej vybavení"
    introduction: "Teď si promluvme o vybavení. To je velmi důležité, když se dostaneš do souboje. Potřebuješ minimálně zbraň a zbroj. S dobrou zbraní způsobíš velké poškození a zbroj pohlcuje část protivníkova poškození. Zbraň pro nové dobrodruhy můžeš dostat od kováře. Až se vrátíš, dám ti zbroj."
    end_text: "Tady je tvá zbroj. Pamatuj, že vybavení se v každém souboji trochu opotřebovává, takže s ním občas budeš muset zajít ke kováři, aby ti jej opravil."
7:
    name: "Vydělávání peněz"
    introduction: "Teď jsem ti dal tvé první vybavení zadarmo. Ale normálně když chceš získat věci, musíš si je koupit za peníze. Takže se musíš naučit vydělávat peníze. Jsou 2 základní způsoby. Tou první je plnění úkolů - když pomáháš lidem, někdy ti mohou zaplatit za tvé sluby. Takže můžeš mluvit s lidmi a zjistit, zda něco potřebují. Další možností je bojování v aréně. Když porazíš svého protivníka, dostaneš nějaké peníze, přesná částka závisí na jejich úrovni. Takže teď běž do arény a pokus se vyhrát pár soubojů."
    end_text: "Dobrá práce. Zatímco jsi byl(a) pryč, sháněla se po tobě Ošetřovatelka z Ošetřovny. Potřebuje s něčím pomoc a slíbila, že ti zaplatí za tvou námahu."
8:
    name: "Nový pomocník"
    introduction: "Diky bohům, že jsi tady, je to úplný blázinec. Víš, dostali jsme do ošetřovny nového pomocníka, ale musí se toho ještě hodně naučit, než tu s nečím pomůže. Potřebuji knihu Ošetřování zranění, ale nemůžu najít žádný výtisk. Musíme si koupit nějaký z knihovny, ale já teď nemůžu odejít. Můžeš mi přinést jeden výtisk? Neboj se, proplatím ti to."
    end_text: "Á, děkuji, to zrychlí jeho výcvik. Tady je tvá odměna. Teď se musím vrátit k jeho výcviku, ale pokud chceš ještě s něčím pomoct, vrať se později."
9:
    name: "Skladiště"
    introduction: "Jsi zpět, dobře. Teď potřebuji, aby jsi mi přinesl(a) několik obvazů ze Skladiště. Hmm, oni tě tam ještě nepustím? Ano, musíš být minimálně na úrovní 3, než tam můžeš jít, takže musíš získat nějaké zkušenosti, ať už plněním úkolů nebo bojováním v aréně, a pak uděláš povýšení v Deníku."
    end_text: "Zvládl(a) jsi to, mnohokrát děkuji. To je zatím vše, co od tebe potřebuji. Měl(a) by jsi se vrátit ke svému mentorovi."
10:
    name: "Cech"
    introduction: "Á, jsi zpět, můj učedníku. Dobrá, budeme pokračovat s tvou výukou. Takže, o čem bych ti dnes řekl? ... Ano, cechy. Jsou to prestižní organizace, které poskytují svým členům nejrůznější výhody. Bylo by dobré, kdyby jsi se k nějakému přidal(a). Jednoduše se podívej v Cechu na seznam existujícíh a podej si přihlášku. Jakmile bude přijata, měl(a) by jsi přispět nějaké peníze, takto cechy rostou."
    end_text: "Výborně. Teď si běž trochu odpočinout, zítra budeme tvrdě trénovat."
11:
    name: "Dovednosti"
    introduction: "Pojď, můj učedníku, máme toho dnes hodně na práci. Pokud chceš vyhrávat souboje, musíš se naučit útočné (a)nebo speciální dovednosti. Před nějakou dobou jsem ti řekl, že se je můžeš naučit z Deníku s využitím bodů dovedností. Teď by jsi měl(a) mít alespoň 2. Tak jdi je použít."
    end_text: "Dobrá práce. Teď by pro tebe mělo být jednodušší vyhrávat souboje. Nezapomeň tam také používat body vlastností k vylepšení svých základních vlastností."
12:
    name: "Hodina slávy"
    introduction: "Je čas podívat se na výsledky tvého tréninku. Chci, aby jsi šel/šla do arény a porazil(a) 5 protivníků."
    end_text: "Výborná práce, můj učedníku. Myslím, že tvůj bojový trénink jde dobře, ale je ještě pár věcí, které tě musím naučit, než budeš připraven(a) opustit Akademii. Vrať se, až budeš minimálně na úrovni 4."
13:
    name: "Přátelé"
    introduction: "I když je někdo velmi silný, někdy potřebuje pomoc od ostatních s dokončením úkolů nebo poražením nepřítele, takže by jsi si si měl(a) najít nějaké přátele. To uděláš tak, že si otevřeš profil dané osoby - např. z Hodnocení - a klikneš na Spřátelit se. Potom musí ještě přijmout tvůj požadavek."
    end_text: "Dobrá práce. Jakmile někdo přijme tvůj požadavek na přátelství (nebo ty přijmeš jejich), uvidíš jejich jméno a čas poslední aktivity v Deník - Přátelé."
14:
    name: "Karma"
    introduction: "Teď bych tě měl seznámit s důležitým konceptem v tomto světě - karmou. Ta vyjadřuje tvou reputaci, jak tě ostatní vidí. Je rozdělená na bílou karmu a temnou karma. Za dokončení úkou můžeš jednu z nich dostat. V určitém okamžiku by sis měl(a) vybrat, kterou z nich chceš mít (pokud vůbec nějakou). Po dokončení tohoto úkolu ti nabídnu 2, které ti přidají 1 bod bílé nebo temné karmy. Můžeš dokončit jen jeden z nich. Ale nemusíš přijmout ani jeden z nich, pokud nechceš."
    end_text: "Teď si můžeš vybrat. A pamatuj, ostatní mohou vidět tvou převažující karmu na tvém profilu."
15:
    name: "Bílá karma"
    introduction: "Teď ti dám nějakou karmu, ale vše má svou cenu."
    end_text: "Velmi dobře, teď všem řeknu, jaký/á jsi."
16:
    name: "Temná karma"
    introduction: "Teď ti dám nějakou karmu, ale vše má svou cenu."
    end_text: "Velmi dobře, teď všem řeknu, jaký/á jsi."
17:
    name: "Závěrečná zkouška"
    introduction: "Už jsi téměř dokončil(a) svá studia na Akademii, už jen musíš zvládnout svou závěrečnou zkoušku. Ať jsem pyšný."
    end_text: "Výborná práce, můj učedníku. Teď je čas na tvou promoci. Vem si svůj nový talár."
18:
    name: "Promoce"
    introduction: "Je to tady, tvá promoce. Zvládl(a) jsi všechny své zkoušky a od tohoto okamžiku už nejsi učedník, ale plně vycvičený čaroděj. Přistup a přijmi svůj certifikát."
    end_text: "Dobrá práce, nyní jsi připraven(a) opustit Akademii. Přijmi tyto peníze jako dárek k tvé promoci."
19:
    name: "Zlomený meč"
    introduction: "Vítej, cestovateli, doufám, že ti se naše městečko líbí. Můžu tě požádat o laskavost? Právě se mi zlomil meč a potřebuju nový, ale nemůžu opustit své stanoviště. Mohl(a) by si jít do sousedního město a koupit mi nový? Proplatím ti ho?"
    end_text: "Mnohokrát díky, cestovateli. Tady máš nějaké peníze za svou námahu."
20:
    name: "Zlomená kuše"
    introduction: "Nazdar, potížisto. Mohl(a) bys pomoct kolegovi? Víš, minulou noc jsem utíkal strážím, chtěl jsem vystřelit ze své kuše, ale ta se rozbila. Můžeš mi přinést novou ze sousedního města?"
    end_text: "Á, díky. Tady je něco málo za tvou námahu."
