1:
    name: "Přesouvání se"
    introduction: "Á, konečně jsi tady, můj učedníku, takže tvůj výcvik může začít. Jako první věc po tobě chci, aby jsi se seznámil s knihovnicí. Najdeš ji v knihovně. Aby jsi se tam dostal, klikni nahoře na Mapa, pak najdi Knihovna a klikni tam. A potom ji uvidíš."
    end_text: "Zdravím. Jsem knihovnice Akademie. Dávám učedníkům jejich knihy a vybavení a také mohu opravit jejich hůlky, když se poškodí. Ale dost už mluvení, jsem si jistá, že tvůj mentor má pro tebe nějaký úkol."
2:
    name: "Přesouvání se"
    introduction: "Á, konečně jsi tady, bažante, takže tvůj výcvik může začít. Jako první věc po tobě chci, aby jsi se seznámil s kovářem. Najdeš ho v kovárně. Aby jsi se tam dostal, klikni nahoře na Mapa, pak najdi Vesnice 1 - Kovárna a klikni tam. A potom ho uvidíš."
    end_text: "Zdravím. Jsem vesnický kovář. Dávám bažantům jejich knihy a vybavení a také mohu opravit jejich zbraně, když se poškodí. Ale dost už mluvení, jsem si jistý, že tvůj cvičitel má pro tebe nějaký úkol."
3:
    name: "Najdi knihu"
    introduction: "Abychom mohli pokračovat ve tvém výcviku, musíš získat knihu Sesílání kouzel pro nechápavé. Zeptej se na ní knihovnice."
    end_text: "Dobrá práce, můj učedníku. Kouzla jsou důležitá pro každého čaroděje. Pokaždé, když postoupíš na vyšší úroveň, získáš 1 bod dovedností, který můžeš v Deník - Trénovat použít k naučení se nové dovedností nebo zlepšení nějaké, kterou už umíš."
4:
    name: "Získej vybavení"
    introduction: "Teď si promluvme o vybavení. To je velmi důležité, když se dostaneš do souboje. Potřebuješ minimálně zbraň a zbroj. S dobrou zbraní způsobíš velké poškození a zbroj pohlcuje část protivníkova poškození. Zbraň pro nové dobrodruhy můžeš dostat od knihovnice. Až se vrátíš, dám ti zbroj."
    end_text: "Tady je tvá zbroj. Pamatuj, že vybavení se v každém souboji trochu opotřebovává, takže s ním občas budeš muset zajít ke kováři, aby ti jej opravil."
5:
    name: "Najdi knihu"
    introduction: "Abychom mohli pokračovat ve tvém výcviku, musíš získat knihu Pokročilé soubojové techniky. Zeptej se na ní kováře."
    end_text: "Velmi dobře, mladý bojovníku. Dobrý bojovník se nespoléhá jen na svou zbraň, používá i speciální pohyby. Pokaždé, když postoupíš na vyšší úroveň, získáš 1 bod dovedností, který můžeš v Deník - Trénovat použít k naučení se nové dovedností nebo zlepšení nějaké, kterou už umíš."
6:
    name: "Získej vybavení"
    introduction: "Teď si promluvme o vybavení. To je velmi důležité, když se dostaneš do souboje. Potřebuješ minimálně zbraň a zbroj. S dobrou zbraní způsobíš velké poškození a zbroj pohlcuje část protivníkova poškození. Zbraň pro nové dobrodruhy můžeš dostat od kováře. Až se vrátíš, dám ti zbroj."
    end_text: "Tady je tvá zbroj. Pamatuj, že vybavení se v každém souboji trochu opotřebovává, takže s ním občas budeš muset zajít ke kováři, aby ti jej opravil."
