1:
    name: "Moving around"
    introduction: "Ah, finally you are here, my apprentice, so your training can begin. As first thing I want you to meet the librian. You can find her in the library. In order to get there, click Map on the top, then find Library and click it. And after that you will see her."
    end_text: "Hail. I am the librarian of the Academy. I give apprentices their books and equipment and can too fix their wands if they get damaged. But enough talking for now, I am pretty sure that your mentor has some task for you now."
2:
    name: "Moving around"
    introduction: "Ah, finally you are here, rookie, so your training can begin. As first thing I want you to meet the blacksmith. You can find him in the smithy. In order to get there, click Map on the top, then find Village 1 - Smithy and click it. And after that you will see him."
    end_text: "Hail. I am the village's blacksmith. I give rookies their books and equipment and can too fix their weapons if they get damaged. But enough talking for now, I am pretty sure that your instructor has some task for you now."
3:
    name: "Find a book"
    introduction: "To continue in your training, you need to get book Spell casting for dummies. Ask the librarian about it."
    end_text: "Well done, my apprentice. Spells are an important thing for any wizard. Every time you level up, you gain 1 skill point which you can you use in Journal - Train to learn a new skill or improve one you already know."
4:
    name: "Get your equipment"
    introduction: "Let's talk about equipment now. It is very important when you get into a fight. You need at least a weapon and an armor. With a good weapon you'll deal a lot of damage and armor abosorb a part of enemy's damage. You can get a weapon for new adventurers from the librarian. Once you return, I'll give you an armor."
    end_text: "Here is your armor. Remember that your equipment wears out a bit in every fight so from time to time you have to take it to a smith to repair it for you."
5:
    name: "Find a book"
    introduction: "To continue in your training, you need to get book Advanced combat techniques. Ask the blacksmith about it."
    end_text: "Well done, young fighter. A good fighter does not rely only on their weapon, they also use special moves. Every time you level up, you gain 1 skill point which you can you use in Journal - Train to learn a new skill or improve one you already know."
6:
    name: "Get your equipment"
    introduction: "Let's talk about equipment now. It is very important when you get into a fight. You need at least a weapon and an armor. With a good weapon you'll deal a lot of damage and armor abosorb a part of enemy's damage. You can get a weapon for new adventurers from the blacksmith. Once you return, I'll give you an armor."
    end_text: "Here is your armor. Remember that your equipment wears out a bit in every fight so from time to time you have to take it to a smith to repair it for you."
7:
    name: "Earning money"
    introduction: "Now I have given you your first equipment for free. But normally when you want to obtain things, you will have to buy them for money. So you need to learn to earn money. There are 2 basic ways. The first one is doing quests - when you help people, they might sometimes pay you for your services. So you can talk to people and see if need something. The other option is fighting in the arena. When you defeat you opponent, you get some money, the exact amount depends on their skill level. So, go now to the arena and try to win a few fights."
    end_text: "Good job. While you were away, Nurse from Infirmary was here looking for you. She needs your help with something and promised to pay you for your trouble."
8:
    name: "New helper"
    introduction: "Thanks gods you are here, it is total chaos here. You see, we got a new helper in the infirmary but they need a lot of training before they are actually any help. I need this book Treating injuries but cannot find any copy here. We need to buy one from the library but there is no way I can leave here. Could you bring me one? Do not worry, I will reimburse you."
    end_text: "Ah, thank you, that will speed up their training. Here is your reward. Now I have to get back to their training but come back later if you still want to help."
9:
    name: "Storehouse"
    introduction: "You are back, good. Now I need you to bring me a few bandages from Storehouse. Hmm, they do not let you in yet? Yes, you need to be at least on level 3 before you can go there so you need to earn some experiences, either by finishing quests or figthing in the arena, and then do a level up in  Journal."
    end_text: "You made it, many thanks. That is all I need from you for now. You should return to your mentor."
10:
    name: "Guild"
    introduction: "Ah, you are back, my apprentice. Well, let us continue your lessons. So, what should I tell about today? ... Yes, guilds. They are prestigous organizations that provide various benefits to their members. It would be good for you to join one. Just look in Guild for a list of existing ones and apply for membership. Once your application is accepted, you should make a donation, those money help guilds to grow."
    end_text: "Excellent. Now go get some rest, we will do some intense training tomorrow."
11:
    name: "Skills"
    introduction: "Come, my apprentice, we have a lot to do today. If you want to win fights, you need to learn attack and/or special skills. I once told you that you can learn them from Journal using skill points. Now you should have at least 2 of them. So go on, use them."
    end_text: "Good job. Now winning fights should be easier for you. Do not forget to also use your stat points there to improve your basic stats."
12:
    name: "Hour of glory"
    introduction: "Now it is the time to see the results of your training. I want you to go to the arena and defeat 5 opponents."
    end_text: "Excellent work, my apprentice. I think your combat training is coming along nicely but there are still a few things I need to teach before you are ready to leave the Academy. Come back once you are at least on level 4."
13:
    name: "Friends"
    introduction: "Even if one is very strong, sometimes you need other people's help with completing your quests or defating an enemy so you should make some friends. To do that, go to that person's profile - e. g. from Ranking - and click Befriend. Then they have to actually acdept your request."
    end_text: "Good job. Once someone accepts your friend request (or you accept theirs), you will see that person's name and time of their last activity in Journal - Friends."
14:
    name: "Karma"
    introduction: "Now I should introduce you an important concept in this world - karma. It expresses your reputation, how other people view you. It is divided into white karma and dark karma. You may get one of them for completing a quest. At some point you should make a choice which one you want to have (if any). After finishing this quest, I will offer you 2 which will give 1 point of white or dark karma. You can finish only one of them. But you do not have to take any of them if you do not want to."
    end_text: "Now you can make your choice. And remember, other people can see your predominant karma on your profile."
15:
    name: "White karma"
    introduction: "I am going to give you some karma now but everything has its price."
    end_text: "Very well, I will tell everyone what kind of person you are."
16:
    name: "Dark karma"
    introduction: "I am going to give you some karma now but everything has its price."
    end_text: "Very well, I will tell everyone what kind of person you are."
17:
    name: "Final exam"
    introduction: "You have almost finished your studies at the Academy, you only need to pass your final exam. Make me proud."
    end_text: "Excellent work, my apprentice. Now it is the time for your graduation. Wear your new gown."
18:
    name: "Graduation"
    introduction: "This is it, your graduation. You have passed your exams and from this moment you are no longer an apprentice but fully trained wizard in your own right. Come and claim your certificate"
    end_text: "Good job, now you are ready to leave the Academy. Accept this money as your gradutaion gift."
19:
    name: "Broken sword"
    introduction: "Welcome, traveler, I hope you like our little town. Could I ask a favor of you? My sword just broke and I need to replace it but I can't leave my post. Could you go to the next town and buy me a new one? I'll of course reimburse you."
    end_text: "Many thanks, traveler. Here you go some money for your trouble."
20:
    name: "Broken crossbow"
    introduction: "Howdy, troublemaker. Would you mind helping a colleague? You see, last night I was escaping the guards, wanted to shoot from my crossbow but it broke. Could you bring me a new one from next town?"
    end_text: "Ah, thanks. Here's a little something for your trouble."
