1:
    name: "barbar"
    description: "Barbaří jsou vícemeně lidé, avšak oddělili se od hlavního proudu, aby žili v poušti. Naučili se přežít v tomto drsném prostředí a vypěstovali si vyšší sílu a odolnost, avšak ztratili něco ze své inteligence a charisma.<br>+SÍL, +ODO, -INT, -CHAR"
2:
    name: "člověk"
    description: "Lidé jsou velmi přizpůsobivá rasa, dovedou přežít v téměř jakémkoli prostředí. Nejsou v ničem vyloženě špatní, ale ani v ničem nevynikají.<br>Žádné úpravy k vlastnostem"
3:
    name: "elf"
    description: "Elfové jsou velmi tajuplná rasa. Většinou přebývají ve svých lesích a jen výjiměčně spoulupracují s ostatními obyvateli světa. Říká se o ních, že jsou překrásní, velice inteligentní a žijí velmi dlouho, pokud nejsou nesmrtelní. Avšak jejich fyzické schránky jsou velmi křehké, leč hbité.<br>+ INT, ++CHAR, +OBR, -SÍL, --ODO"
4:
    name: "trapaslík"
    description: "Trpaslíci jsou velmi robustní (vzhledem ke své velikosti). Tráví spoustu času v horách a pod horami vyráběním zbraní či vytvářením artefaktů. Mají velmi silná těla, ale mrštnost, inteligence nebo charisma rozhodně nepatří k jejich silným stránkám.<br>++ODO, +SÍL -OBR, -INT, -CHAR"