1:
    name: "barbarian"
    description: "Barbarians are mostly humans but they separated ages ago from the main stream to live in the desert. They learnt to survive in the harsh environment and developed higher strength and constitution but lost some of their intelligence and charisma.<br>+STR, +CON, -INT, -CHAR"
2:
    name: "human"
    description: "Humans are very versatile race, they can survive in almost any environment. They are not really bad in anything but they are masters of nothing either.<br>No modifications to stats"
3:
    name: "elf"
    description: "Elves are one obscure race. They mostly dwell in their forests and only seldom interact with other inhabitants of the world. They are told to be very beautiful, intelligent and long living, if not immortal. But their physical shells are much fragile yet nimble.<br>+ INT, ++CHAR, +DEX, -STR, --CON"
4:
    name: "dwarf"
    description: "Dwarves are quite sturdy (given their size). They spend a lot of time in and under mountains crafting weapons or creating artifacts. They have unusually strong bodies but nimbleness, intelligence or charisma definitely do not belong to their fortes.<br>++CON, +STR, -DEX, -INT, -CHAR"
5:
    name: "orc"
    description: "Orcs arrived in the continent a few centuries ago from unexplored lands in the distant east. They organize themselves in tribes led by warriors or shamans. Most of them attack other races at sight but a few keep businesses or friendly relationships with them.<br>+STR, +DEX, --CHAR, -INT"