1:
    name: "Výpad"
    description: " "
2:
    name: "Stínový úder"
    description: " "
3:
    name: "Výbuch"
    description: " "
4:
    name: "Déšť šípů"
    description: " "
5:
    name: "Zvuková vlna"
    description: " "
6:
    name: "Úder hněvu"
    description: " "
7:
    name: "Paprsek světla"
    description: " "
8:
    name: "Poprava"
    description: " "
9:
    name: "Únik plynu"
    description: " "
10:
    name: "Mistrovská střela"
    description: " "
11:
    name: "Dvojitá střela"
    description: " "
12:
    name: "Ohnivá koule"
    description: " "
13:
    name: "Bod mrazu"
    description: " "
14:
    name: "Dotek víry"
    description: " "
15:
    name: "Svatý oheň"
    description: " "
16:
    name: "Deset pěstí"
    description: " "
17:
    name: "Dlouhý verš"
    description: " "
18:
    name: "Uchvácení"
    description: " "
