1:
    name: "Assault"
    description: " "
2:
    name: "Shadow strike"
    description: " "
3:
    name: "Blast"
    description: " "
4:
    name: "Rain of arrows"
    description: " "
5:
    name: "Sound wave"
    description: " "
6:
    name: "Wrath strike"
    description: " "
7:
    name: "Light beam"
    description: " "
8:
    name: "Execution"
    description: " "
9:
    name: "Gas leakage"
    description: " "
10:
    name: "Master shot"
    description: " "
11:
    name: "Double shot"
    description: " "
12:
    name: "Fireball"
    description: " "
13:
    name: "Freezing point"
    description: " "
