1:
    name: "Štít"
    description: " "
2:
    name: "Ochrana stínů"
    description: " "
3:
    name: "Zrychlovací kouzlo"
    description: " "
4:
    name: "Přesnost"
    description: " "
5:
    name: "Krytí"
    description: " "
6:
    name: "Dým"
    description: " "
7:
    name: "Zamotání"
    description: " "
8:
    name: "Vyhýbání"
    description: " "