1:
    name: "Shield"
    description: ""
2:
    name: "Shadow protection"
    description: ""
3:
    name: "Quicken spell"
    description: ""
4:
    name: "Precision"
    description: ""
5:
    name: "Cover"
    description: ""
6:
    name: "Smoke"
    description: ""
7:
    name: "Entangle"
    description: ""
8:
    name: "Evasion"
    description: ""