1:
    name: "Štít"
    description: " "
2:
    name: "Ochrana stínů"
    description: " "
3:
    name: "Zrychlovací kouzlo"
    description: " "
4:
    name: "Přesnost"
    description: " "
5:
    name: "Krytí"
    description: " "
6:
    name: "Dým"
    description: " "
7:
    name: "Zamotání"
    description: " "
8:
    name: "Vyhýbání"
    description: " "
9:
     name: "Otravný zvuk"
     description: " "
10:
     name: "Píseň hbitosti"
     description: " "
11:
     name: "Zuřivost"
     description: " "
12:
     name: "Gaina ochrana"
     description: " "
13:
     name: "Značka smrti"
     description: " "
14:
     name: "Omračující úder"
     description: " "
15:
     name: "Otrávený šíp"
     description: " "
16:
     name: "Ostrostřelec"
     description: " "
17:
     name: "Slabina"
     description: " "
18:
     name: "Magický štít"
     description: " "
19:
     name: "Síla sebedůvěry"
     description: " "
20:
     name: "Drtič ducha"
     description: " "
21:
     name: "Píseň víry"
     description: " "
22:
     name: "Želví krunýř"
     description: " "
