1:
    name: "Shield"
    description: " "
2:
    name: "Shadow protection"
    description: " "
3:
    name: "Quicken spell"
    description: " "
4:
    name: "Precision"
    description: " "
5:
    name: "Cover"
    description: " "
6:
    name: "Smoke"
    description: " "
7:
    name: "Entangle"
    description: " "
8:
    name: "Evasion"
    description: " "
9:
     name: "Irksome noise"
     description: " "
10:
     name: "Song of agility"
     description: " "
11:
     name: "Rage"
     description: " "
12:
     name: "Gaia's protection"
     description: " "
13:
     name: "Mark of death"
     description: " "
14:
     name: "Stunning strike"
     description: " "
15:
     name: "Poisoned arrow"
     description: " "
16:
     name: "Marksman"
     description: " "
17:
     name: "Weakness"
     description: " "
18:
     name: "Magic shield"
     description: " "
19:
     name: "Power of confidence"
     description: " "
20:
     name: "Spirit crusher"
     description: " "
21:
     name: "Song of faith"
     description: " "
22:
     name: "Turtle's shell"
     description: " "
23:
     name: "Sonic speed"
     description: " "
24:
     name: "Trance"
     description: " "
