1:
    name: "Study Room"
    description: " "
2:
    name: "Hall"
    description: " "
3:
    name: "Library"
    description: " "
4:
    name: "Village 1 - Village Square"
    description: " "
5:
    name: "Village 1 - Smithy"
    description: " "
6:
    name: "Infirmary"
    description: " "
7:
    name: "Village 1 - Alchemist's hut"
    description: " "
8:
    name: "Storehouse"
    description: " "
9:
    name: "Village 1 - General store"
    description: " "
