1:
    name: "Your cell"
    description: " "
2:
    name: "Hall"
    description: " "
3:
    name: "Library"
    description: " "
4:
    name: "Village 1 - Village Square"
    description: " "
5:
    name: "Village 1 - Smithy"
    description: " "