1:
    name: "Studovna"
    description: " "
2:
    name: "Vstupní hala"
    description: " "
3:
    name: "Knihovna"
    description: " "
4:
    name: "Vesnice 1 - Náves"
    description: " "
5:
    name: "Vesnice 1 - Kovárna"
    description: " "
6:
    name: "Ošetřovna"
    description: " "
7:
    name: "Vesnice 1 - Alchymistova chýše"
    description: " "
8:
    name: "Skladiště"
    description: " "
9:
    name: "Vesnice 1 - Obchod se smíšeným zbožím"
    description: " "
10:
      name: "Přístav"
      description: " "
11:
    name: "Město Aldun"
    description: " "
