1:
    name: "Studovna"
    description: " "
2:
    name: "Vstupní hala"
    description: " "
3:
    name: "Knihovna"
    description: " "
4:
    name: "Vesnice 1 - Náves"
    description: " "
5:
    name: "Vesnice 1 - Kovárna"
    description: " "