1:
    name: "warrior"
2:
    name: "paladin"
3:
    name: "executioner"
4:
    name: "spy"
5:
    name: "hunter"
6:
    name: "bowman"
7:
    name: "ranger"
8:
    name: "sorcerer"
9:
    name: "mystic"