1:
    name: "berserk"
2:
    name: "paladin"
3:
    name: "vrah"
4:
    name: "špion"
5:
    name: "hraničář"
6:
    name: "lukostřelec"
7:
    name: "čaroděj"
8:
    name: "mystik"
9:
    name: "kněz"
10:
    name: "mnich"
