1:
    name: "berserk"
2:
    name: "paladin"
3:
    name: "vrah"
4:
    name: "špion"
5:
    name: "lovec"
6:
    name: "lukostřelec"
7:
    name: "hraničář"
8:
    name: "černokněžník"
9:
    name: "mystik"
