common:
    home: "Home"
    game: "HeroesofAbenez"
    members: "Members"
    description: "Description"
    name: "Name"
    grandmaster: "Grandmaster"
    profile: "Profile"
    back: "Back"
homepage:
    greeting: "Welcome, %characterName%. You're currently in %stageName% at %areaName%."
    noOneToSee: "You can't see anyone."
    canSee: "You can see:"
    approachNpc: "Approach"
intro:
    title: "Introduction"
    continue: "Continue"
item:
    title: "Item"
    notFoundTitle: "Item not found"
    notFound: "Requested item was not found."
tavern:
    title: "Tavern"
    rooms: "Rooms:"
    localRoom: "Local"
    guildRoom: "Guild"
    globalRoom: "Global"
    cannotUseRoom: "You can't use this room."
guild:
    title: "Guild"
    leader: "Leader"
    manage: "Manage guild"
    applications: "Applications"
    chat: "Chat"
    changeDescription: "Change guild's description"
    dissolveTitle: "Dissolve guild"
    dissolveTitle2: "Dissolving guild"
    dissolveConfirm: "Are you sure that you want to do this? It can't be undone. Confirm the action by entering the guild's name."
    joinTitle: "Join guild"
    rename: "Rename guild"
    dissolve: "Dissolve guild"
    chooseAction: "Choose action:"
    manageMembers: "Manage members"
    membersTitle: "Guild members"
    promote: "Promote"
    demote: "Demote"
    kick: "Kick"
    notFoundTitle: "Guild not found"
    notFound: "Requested guild was not found."
    renameTitle: "Rename guild"
    applicationsTitle: "Guild applications"
    noApplications: "No unresolved applications"
    wantToJoin: "wants to join your guild."
    createTitle: "Create guild"
    guilds: "Guilds"
    apply: "Apply"
    noGuildText1: "You don't belong to any guild. You can "
    noGuildCreateLink: "create"
    noGuildText2: " your own or "
    noGuildJoinLink: "join"
    noGuildText3: " an existing one."
    changeRankNames: "Change rank names"
request:
    title: "Request"
    accept: "Accept"
    decline: "Decline"
    sent: "Sent"
    status: "Status"
    invitedToGuild: "%from% invited %to% to his/her guild."
    guildApp: "%from% wants to join %to%'s guild."
    invitedToGroup: "%from% invited %to% to his/her group."
    friendship: "%from% wants to be friend with %to%."
    notFoundTitle: "Request not found"
    notFound: "Request was not found."
postoffice:
    title: "Post office"
    messages: "Messages:"
    received: "Received"
    sent: "Sent"
    new: "New"
    notFoundTitle: "Message not found"
    notFound: "Requested message was not found."
    messageTitle: "Message"
    cannotSeeTitle: "Cannot see message"
    cannotSee: "You cannot see this message."
    from: "From"
    to: "To"
    subject: "Subject"
    newMessageTitle: "New message"
    receivedTitle: "Post office - received"
    noMessages: "No messages."
    sentTitle: "Post office - sent"
    viewMessage: "View"
journal:
    title: "Journal"
    journalOf: "Journal of"
    level: "level"
    experiences: "{1} 1 experience|]1,+Inf[ %count% experiences"
    guild: "Guild:"
    ofGuild: "of guild"
    notInGuild: "Not in guild"
    karma: "Karma:"
    white: "white"
    neutral: "neutral"
    dark: "dark"
    position: "Position:"
    at: "at"
    chapters: "Chapters:"
    basic: "Basic"
    inventory: "Inventory"
    pets: "Pets"
    quests: "Quests"
    money: "{1} You have 1 silver mark.|]1,+Inf[ You have %count% silver marks."
    items: "Items:"
    noItems: "No items"
    equipment: "Equipment:"
    noEquipment: "No equipment"
    questsTitle: "Quests Journal"
    activeQuests: "{1} You have 1 active quest.|]1,+Inf[ You have %count% active quests."
    petsNumber: "{1} You have 1 pet.|]1,+Inf[ You have %count% pets."
    levelUp: "Level up!"
    deployPet: "Deploy"
    discardPet: "Discard"
map:
    title: "Map"
    travelTitle: "Travel"
    localMap: "Local map"
quest:
    title: "Quest"
    from: "From:"
    requirementsHeader: "For completing this quest you have to:"
    rewards: "Rewards:"
    rewardMoney: "{1} 1 silver mark|[0,+Inf[ %count% silver marks"
    rewardXP: "{1} 1 experience|]1,+Inf[ %count% experiences"
    notFoundTitle: "Quest not found"
    notFound: "Requested quest was not found."
profile: 
    title: "Profile"
    level: "level"
    baseStats: "Base stats:"
    strength: "Strength"
    dexterity: "Dexterity"
    constitution: "Constitution"
    intelligence: "Intelligence"
    charisma: "Charisma"
    position: "Position in guild:"
    notInGuild: "Not a member of guild"
    activePet: "Active pet:"
    noActivePet: "No active pet"
    moreInfo: "More info:"
    notFoundTitle: "Character not found"
    notFound: "Requested character was not found."
    predominantKarma: "Predominant karma:"
equipment:
    title: "Equipment"
    notFoundTitle: "Equipment not found"
    notFound: "Requested equipment was not found."
    strength: "Strength"
    durability: "durability"
    requires: "Requires"
    level: "level"
    class: "class"
    price: "{1} Price: 1 silver mark|]1,+Inf[ Price: %count% silver marks"
    worn: "(Worn)"
    equip: "Equip item"
    unequip: "Take off item"
npc:
    title: "NPC"
    steppedInFront: "You stepped in front of"
    whatToDo: "What do you want to do?"
    talk: "Talk"
    askForQuest: "Ask for quests"
    trade: "Trade"
    fight: "Fight"
    walkAway: "Walk away"
    notFoundTitle: "NPC not found"
    notFound: "Requested npc was not found."
    notAvailableTitle: "NPC not available"
    notAvailable: "Requested npc is not available at the moment."
    shopTitle: "Shop"
    questsTitle: "Quests"
character:
    createTitle: "Create character"
    noCharacterFound: "It seems you have no character on this server. (Are you sure you selected the right one?) Before you can start playing, you have to create one."
    created: "Character created. Details follow:"
    exists: "Character with entered name already exists. Try different name."
npcShop:
    noItems: "Sorry but I have nothing to sell."
    offer: "I can offer you:"
npcQuests:
    available: "Available quests:"
    noQuests: "No quests"
    accept: "Accept"
    finish: "Finish"
    details: "Details"
    active: "(Active)"
ranking:
    title: "Ranking"
    previous: "Previous"
    next: "Next"
arena:
    title: "Arena"
    localChampions: "Local champions"
    toChallenge: "Challenge"
    foreignHeroes: "Foreign heroes"
    champion: "Champion"
    championNotFound: "Champion not found"
    usesSkills: "Uses the following skills:"
    skillOnLevel: "on level %count%"
training:
   title: "Training grounds"
   train: "Train"
   currentStats: "Your current stats:"
   usableStatPoints: "Usable stat points: %count%"
   skills: "Skills"
   skillCurrentLevel: "Current level: %count%"
   usableSkillPoints: "Usable skill points: %count%"
skill:
    notFoundTitle: "Skill not found"
    notFound: "Requested skill was not found."
    title: "Skill"
    attackSkill: "Attack skill"
    specialSkill: "Special skill"
    requires: "Requires"
    level: "level"
    class: "class"
    specialization: "specialization"
    skillDamage: "Damage: %baseDamage% + %damageGrowth% per level"
    skillLevels: "Levels : %count%"
    targetsingle: "Target: single enemy"
    targetrow: "Target: row of enemies"
    targetcolumn: "Target: column of enemies"
    targetself: "Target: own character"
    targetenemy: "Target: single enemy"
    targetparty: "Target: own party"
    targetenemy_party: "Target: enemy party"
    skillStrikes: "Strikes : %count%"
    skillDuration: "{1} Duration : %count% round|]1,+Inf[ Duration : %count% rounds"
    effectstun: "Effect: stuns the target"
    effectpoison: "Effect: the target will lose %count% hitpoint(s) at start of round"
    effectbuffhp: "Effect: Increases target's hitpoints by %value%% + %valueGrowth%% per level"
    effectbuffdamage: "Effect: Increases target's damage by %value%% + %valueGrowth%% per level"
    effectbuffdefense: "Effect: Increases target's defense by %value%% + %valueGrowth%% per level"
    effectbuffhit: "Effect: Increases target's hit chance by %value%% + %valueGrowth%% per level"
    effectbuffdodge: "Effect: Increases target's dodge chance by %value%% + %valueGrowth%% per level"
    effectbuffinitiative: "Effect: Increases target's initiative by %value%% + %valueGrowth%% per level"
    effectdebuffhp: "Effect: Decreases target's hitpoints by %value%% + %valueGrowth%% per level"
    effectdebuffdamage: "Effect: Decreases target's damage by %value%% + %valueGrowth%% per level"
    effectdebuffdefense: "Effect: Decreases target's defense by %value%% + %valueGrowth%% per level"
    effectdebuffhit: "Effect: Decreases target's hit chance by %value%% + %valueGrowth%% per level"
    effectdebuffdodge: "Effect: Decreases target's dodge chance by %value%% + %valueGrowth%% per level"
    effectdebuffinitiative: "Effect: Decreases target's initiative by %value%% + %valueGrowth%% per level"
combatLog:
    title: "Combat"
    participant: "%name%: level %level%"
    round: "Round %count%"
    results: "Results:"
    attackHits: "%character1% attacks %character2% and hits. %character2% loses %count% hitpoints."
    attackFails: "%character1% attacks %character2% but misses."
    specialAttackHits: "%character1% uses attack %name% on %character2% and hits. %character2% loses %count% hitpoints."
    specialAttackFails: "%character1% uses attack %name% on %character2% but misses."
    specialSkillSuccess: "%character1% successfully casts %name% on %character2%."
    specialSKillFailure: "%character1% tries to cast %name% on %character2% but fails."
    healingSuccess: "%character1% heals %character2% for %count% hitpoint(s)."
    healingFailure: "%character1% tries to heal %character2% but fails."
    poison: "%character1% loses %count% hitpoint(s) due to poison."
    characterFalls: " He/she falls on the ground."