common:
    home: "Home"
    game: "HeroesofAbenez"
    members: "Members"
    description: "Description"
    name: "Name"
    grandmaster: "Grandmaster"
    profile: "Profile"
    back: "Back"
homepage:
    greeting: "Welcome, %characterName%. You're currently in %stageName% at %areaName%."
    noOneToSee: "You can't see anyone."
    canSee: "You can see:"
    approachNpc: "Approach"
intro:
    title: "Introduction"
    continue: "Continue"
item:
    title: "Item"
    notFoundTitle: "Item not found"
    notFound: "Requested item was not found."
tavern:
    title: "Tavern"
    rooms: "Rooms:"
    localRoom: "Local"
    guildRoom: "Guild"
    globalRoom: "Global"
    cannotUseRoom: "You can't use this room."
guild:
    title: "Guild"
    leader: "Leader"
    manage: "Manage guild"
    applications: "Applications"
    chat: "Chat"
    changeDescription: "Change guild's description"
    dissolveTitle: "Dissolve guild"
    dissolveTitle2: "Dissolving guild"
    dissolveConfirm: "Are you sure that you want to do this? It can't be undone. Confirm the action by entering the guild's name."
    joinTitle: "Join guild"
    rename: "Rename guild"
    dissolve: "Dissolve guild"
    chooseAction: "Choose action:"
    manageMembers: "Manage members"
    membersTitle: "Guild members"
    promote: "Promote"
    demote: "Demote"
    kick: "Kick"
    notFoundTitle: "Guild not found"
    notFound: "Requested guild was not found."
    renameTitle: "Rename guild"
    applicationsTitle: "Guild applications"
    noApplications: "No unresolved applications"
    wantToJoin: "wants to join your guild."
    createTitle: "Create guild"
    guilds: "Guilds"
    apply: "Apply"
    noGuildText1: "You don't belong to any guild. You can "
    noGuildCreateLink: "create"
    noGuildText2: " your own or "
    noGuildJoinLink: "join"
    noGuildText3: " an existing one."
request:
    title: "Request"
    accept: "Accept"
    decline: "Decline"
    sent: "Sent"
    status: "Status"
    invitedToGuild: "%from% invited %to% to his/her guild."
    guildApp: "{$from} wants to join {$to}'s guild."
    invitedToGroup: "%from% invited %to% to his/her group."
    friendship: "%from% wants to be friend with %to%."
    notFoundTitle: "Request not found"
    notFound: "Request was not found."
postoffice:
    title: "Post office"
    messages: "Messages:"
    received: "Received"
    sent: "Sent"
    new: "New"
    notFoundTitle: "Message not found"
    notFound: "Requested message was not found."
    messageTitle: "Message"
    cannotSeeTitle: "Cannot see message"
    cannotSee: "You cannot see this message."
    from: "From"
    to: "To"
    subject: "Subject"
    newMessageTitle: "New message"
    receivedTitle: "Post office - received"
    noMessages: "No messages."
    sentTitle: "Post office - sent"
    viewMessage: "View"
journal:
    title: "Journal"
    journalOf: "Journal of"
    level: "level"
    experiences: "1 experience| %count% experiences"
    guild: "Guild:"
    ofGuild: "of guild"
    notInGuild: "Not in guild"
    karma: "Karma:"
    white: "white"
    neutral: "neutral"
    dark: "dark"
    position: "Position:"
    at: "at"
    chapters: "Chapters:"
    basic: "Basic"
    inventory: "Inventory"
    pets: "Pets"
    quests: "Quests"
    money: "You have 1 silver mark.|You have %count% silver marks."
    items: "Items:"
    noItems: "No items"
    equipment: "Equipment:"
    noEquipment: "No equipment"
    questsTitle: "Quests Journal"
    activeQuests: "You have 1 active quest.|You have %count% active quests."
    petsNumber: "You have 1 pet.|You have %count% pets."
map:
    title: "Map"
    travelTitle: "Travel"
    localMap: "Local map"
quest:
    title: "Quest"
    from: "From:"
    requirementsHeader: "For completing this quest you have to:"
    rewards: "Rewards:"
    rewardMoney: "1 silver mark|%count% silver marks"
    rewardXP: "1 experience|%count% experiences"
    notFoundTitle: "Quest not found"
    notFound: "Requested quest was not found."
profile: 
    title: "Profile"
    level: "level"
    baseStats: "Base stats:"
    strength: "Strength"
    dexterity: "Dexterity"
    constitution: "Constitution"
    intelligence: "Intelligence"
    charisma: "Charisma"
    position: "Position in guild:"
    notInGuild: "Not a member of guild"
    activePet: "Active pet:"
    noActivePet: "No active pet"
    moreInfo: "More info:"
    notFoundTitle: "Character not found"
    notFound: "Requested character was not found."
equipment:
    title: "Equipment"
    notFoundTitle: "Equipment not found"
    notFound: "Requested equipment was not found."
    strength: "Strength"
    durability: "durability"
    requires: "Requires"
    level: "level"
    class: "class"
    price: "Price: 1 silver mark|Price: %count% silver marks"
npc:
    title: "NPC"
    steppedInFront: "You stepped in front of"
    whatToDo: "What do you want to do?"
    talk: "Talk"
    askForQuest: "Ask for quests"
    trade: "Trade"
    fight: "Fight"
    walkAway: "Walk away"
    notFoundTitle: "NPC not found"
    notFound: "Requested npc was not found."
    notAvailableTitle: "NPC not available"
    notAvailable: "Requested npc is not available at the moment."
    shopTitle: "Shop"
    questsTitle: "Quests"
character:
    createTitle: "Create character"
    noCharacterFound: "It seems you have no character on this server. (Are you sure you selected the right one?) Before you can start playing, you have to create one."
    created: "Character created. Details follow:"
    exists: "Character with entered name already exists. Try different name."
chat:
    charactersInRoom: "Characters in this room:"
npcShop:
    noItems: "Sorry but I have nothing to sell."
    offer: "I can offer you:"
npcQuests:
    available: "Available quests:"
    noQuests: "No quests"
    accept: "Accept"
    finish: "Finish"
    details: "Details"
    active: "(Active)"
ranking:
    title: "Ranking"
    previous: "Previous"
    next: "Next"
arena:
    title: "Arena"