common:
    home: "Home"
    game: "HeroesofAbenez"
    members: "Members"
    description: "Description"
    name: "Name"
    grandmaster: "Grandmaster"
    profile: "Profile"
homepage:
    greeting: "Welcome, %characterName%. You're currently in %stageName% at %areaName%."
    noOneToSee: "You can't see anyone."
    canSee: "You can see:"
    approachNpc: "Approach"
intro:
    title: "Introduction"
    continue: "Continue"
item:
    title: "Item"
    notFoundTitle: "Item not found"
    notFound: "Requested item was not found."
tavern:
    rooms: "Rooms:"
    localRoom: "Local"
    guildRoom: "Guild"
    globalRoom: "Global"
    cannotUseRoom: "You can't use this room."
guild:
    title: "Guild"
    leader: "Leader"
    manage: "Manage guild"
    applications: "Applications"
    chat: "Chat"
    changeDescription: "Change guild's description"
    dissolveTitle: "Dissolve guild"
    dissolveTitle2: "Dissolving guild"
    dissolveConfirm: "Are you sure that you want to do this? It can't be undone. Confirm the action by entering the guild's name."
    joinTitle: "Join guild"
    rename: "Rename guild"
    dissolve: "Dissolve guild"
    chooseAction: "Choose action:"
    manageMembers: "Manage members"
    membersTitle: "Guild members"
    promote: "Promote"
    demote: "Demote"
    kick: "Kick"
    notFoundTitle: "Guild not found"
    notFound: "Requested guild was not found."
    renameTitle: "Rename guild"
    applicationsTitle: "Guild applications"
    noApplications: "No unresolved applications"
    wantToJoin: "wants to join your guild."
    createTitle: "Create guild"
request:
    title: "Request"
    accept: "Accept"
    decline: "Decline"
    sent: "Sent"
    status: "Status"
    invitedToGuild: "%from% invited %to% to his/her guild."
    invitedToGroup: "%from% invited %to% to his/her group."
    notFoundTitle: "Request not found"
    notFound: "Request was not found."