common:
    home: "Domů"
    game: "HeroesofAbenez"
    members: "Členové"
    description: "Popis"
    name: "Jméno"
    grandmaster: "Velmistr"
    profile: "Profil"
    back: "Zpět"
homepage:
    greeting: "Vítej, %characterName%. Právě jsi v %stageName% v %areaName%."
    noOneToSee: "Nikoho nevidíš."
    canSee: "Vidíš:"
    approachNpc: "Přistoupit"
intro:
    title: "Úvod"
    continue: "Pokračovat"
item:
    title: "Věc"
    strength: "Síla"
    durability: "trvanlivost"
    requires: "Vyžaduje"
    level: "úroveň"
    class: "třídu"
    specialization: "specializaci"
    price: "{0}Cena: 0 stříbrňáků|{1}Cena:  1 stříbrňák|[2,4]Cena: %count% stříbrňáků|[5,+Inf]Cena: %count% stříbrňáků"
    worn: "(Nošeno)"
    equip: "Nasadit věc"
    unequip: "Sundat věc"
    soldBy: "Prodáváno:"
    neededForQuests: "Vyžadováno pro úkoly:"
    rewardedForQuests: "Odměna za úkoly:"
    repair: "Opravit za"
    repairPrice: "{0}0 stříbrňáků|{1}1 stříbrňák|[2,4]%count% stříbrňáků|[5,+Inf]%count% stříbrňáků"
tavern:
    title: "Krčma"
    rooms: "Místnosti:"
    localRoom: "Místní"
    localChat: "Místní chat"
    guildRoom: "Cechovní"
    guildChat: "Cechovní chat"
    globalRoom: "Globální"
    globalChat: "Globální chat"
    cannotUseRoom: "Nemůžeš použít tuto místnost."
guild:
    title: "Cech"
    leader: "Vůdce"
    manage: "Spravovat cech"
    applications: "Přihlášky"
    chat: "Chat"
    changeDescription: "Změnit popis cechu"
    dissolveTitle: "Rozpustit cech"
    dissolveTitle2: "Rozpuštnění cechu"
    dissolveConfirm: "Jsi si jistý, že chceš toto udělat? Nemůže to být vráceno. Potvrď akci zadáním jména cechu."
    joinTitle: "Připojit se k cechu"
    rename: "Přejmenovat cech"
    dissolve: "Rozpustit cech"
    chooseAction: "Vyber akci:"
    manageMembers: "Spravovat členy"
    membersTitle: "Členové cechu"
    promote: "Povýšit"
    demote: "Degradovat"
    kick: "Vyhodit"
    renameTitle: "Přejmenovat cech"
    applicationsTitle: "Přihlášky do cechu"
    noApplications: "Žádné nevyřízené přihlášky"
    wantToJoin: "se chce připojit k tvému cechu."
    createTitle: "Vytvořit cech"
    guilds: "Cechy"
    apply: "Podat přihlášku"
    noGuildText1: "Nepatříš k žádnému cechu. Můžeš si "
    noGuildCreateLink: "vytvořit"
    noGuildText2: " svůj vlastní nebo se "
    noGuildJoinLink: "připojit"
    noGuildText3: " k již existujícímu."
    changeRankNames: "Změnit jména hodností"
    money: "{0} Peníze: 0 stříbrňáků|{1} Máš 1 stříbrňák|[2,4] Peníze: %count% stříbrňáky|[5,+Inf] Peníze: %count% stříbrňáků"
    donate: "Přispět"
    donateTitle: "Přispět cechu"
    memberContribution: "{0} Přispěl(a) 0 stříbrňáků|{1} Máš 1 stříbrňák|[2,4] Přispěl(a) %count% stříbrňáky|[5,+Inf] Přispěl(a) %count% stříbrňáků"
request:
    title: "Požadavek"
    accept: "Přijmout"
    decline: "Odmítnout"
    sent: "Odeslán"
    status: "Stav"
    invitedToGuild: "%from% pozval(a) %to% do svého cechu."
    guildApp: "%from% se chce připojit k cechu %to%."
    invitedToGroup: "%from% pozval(a) %to% do své skupiny."
    friendship: "%from% se chce přátelit s %to%."
postoffice:
    title: "Pošta"
    messages: "Zprávy"
    received: "Přijaté"
    sent: "Odeslané"
    new: "Nová"
    messageTitle: "Zpráva"
    cannotSeeTitle: "Nemůžeš vidět zprávu"
    cannotSee: "Nemůžeš vidět tuto zpravu."
    from: "Od"
    to: "Pro"
    subject: "Předmět"
    newMessageTitle: "Nová zpráva"
    receivedTitle: "Pošta - přijaté"
    noMessages: "Žádné zprávy."
    sentTitle: "Pošta - odeslané"
    viewMessage: "Zobrazit"
journal:
    title: "Deník"
    journalOf: "Deník"
    level: "úroveň"
    experiences: "{0} 0 zkušeností|{1} 1 zkušenost|[2,4] %count% zkušenosti|[5,+Inf] %count% zkušeností"
    guild: "Cech:"
    ofGuild: "cechu"
    notInGuild: "Nejsi v cechu"
    karma: "Karma:"
    white: "bílá"
    neutral: "neutrální"
    dark: "temná"
    position: "Pozice:"
    at: "v"
    chapters: "Kapitoly:"
    basic: "Základní"
    inventory: "Inventář"
    pets: "Mazlíčci"
    quests: "Úkoly"
    friends: "Přátelé"
    money: "{0} Máš 0 stříbrňáků.|{1} Máš 1 stříbrňák.|[2,4] Máš %count% stříbrňáky.|[5,+Inf] Máš %count% stříbrňáků."
    items: "Věci:"
    noItems: "Žádné věci"
    equipment: "Vybavení:"
    questsTitle: "Deník úkolů"
    currentQuests: "Aktuální"
    finishedQuests: "Dokončené"
    activeQuests: "{0} Máš 0 aktivních úkolů.|{1} Máš 1 aktivní úkol.|[2,4] Máš %count% aktivní úkoly.|[5,+Inf] Máš %count% aktivních úkolů."
    petsNumber: "{0} Máš 0 mazlíčků.|{1} Máš 1 mazlíčka.|[2,4] Máš %count% mazlíčků.|[5,+Inf] Máš %count% mazlíčků."
    levelUp: "Povýšit!"
    deployPet: "Nasadit"
    discardPet: "Odložit"
    chooseSpecialization: "Vyber si specializaci:"                 
    deployed: "Nasazený/á"
    noFriends: "Zatím nemáš žádné přátele."
    removeFriend: "Odstranit"
map:
    title: "Mapa"
    travelTitle: "Cestovat"
    localMap: "Místní mapa"
    globalMap: "Globální mapa"
quest:
    title: "Úkol"
    from: "Od:"
    requirementsHeader: "K dokončení tohoto úkolu musíš:"
    requirementPayMoney: "{0}zaplatit 0 stříbrňáků|{1}zaplatit 1 stříbrňák|[2,4]zaplatit %count% stříbrňáky|[5,+Inf]zaplatit %count% stříbrňáků"
    requirementGetItem: "získat %count%x %item%"
    requirementArenaWins: "{0}vyhrát 0 soubojů v aréně|{1}vyhrát 1 souboj v aréně|[2,4]vyhrát %count% souboje v aréně|[5,+Inf]vyhrát %count% soubojů v aréně"
    requirementGuildDonation: "{0}přispět 0 stříbrňáků svému cechu|{1}přispět 1 stříbrňák svému cechu|[2,4]přispět %count% stříbrňáky svému cechu|[5,+Inf]přispět %count% stříbrňáků svému cechu"
    requirementActiveSKillsLevel: "mít aktivní dovednosti minimálně na úrovni %count%"
    requirementFriends: "{0}mít 0 přátel|{1}mít 1 přítele|[2,4]mít %count% přátele|[5,+Inf]mít %count% přátel"
    requirementTalkToNpc: "promluvit si s %npc%"
    requirementReportBackToNpc: "ohlásit se zpět %npc%"
    rewards: "Odměny:"
    rewardMoney: "{0} 0 stříbrňáků|{1} 1 stříbrňák|[2,4] %count% stříbrňáky|[5,+Inf] %count% stříbrňáků"
    rewardXP: "{0} 0 zkušeností|{1} 1 zkušenost|[2,4] %count% zkušenosti|[5,+Inf] %count% zkušeností"
    rewardKarma: "%whiteKarma% bílé karma, %darkKarma% temné karmy"
    followupQuests: "Navazující úkoly:"
    followsIn: "Navazuje na"
    conflictsWith: "Vylučuje se s"
    for: "Pro:"
    level: "úroveň"
    class: "třídu"
    race: "rasu"
profile: 
    title: "Profil"
    level: "úroveň"
    baseStats: "Základní vlastnosti:"
    combatStats: "Vlastnosti v boji:"
    strength: "Síla"
    dexterity: "Obratnost"
    constitution: "Odolnost"
    intelligence: "Inteligence"
    charisma: "Charisma"
    position: "Pozice v cechu:"
    notInGuild: "Nečlen cechu"
    activePet: "Aktivní mazlíček:"
    noActivePet: "Žádný aktivní mazlíček"
    predominantKarma: "Převažující karma:"
    maxHitpoints: "Maximum životů"
    damage: "Poškození"
    defense: "Obrana"
    hitChance: "Šance na zásah"
    dodgeChance: "Šance na vyhnutí se zásahu"
    sendMessage: "Poslat zprávu"
    currentLocation: "Současná poloha:"    
    male: "muž"
    female: "žena"
    lastActive: "Naposledy aktivní:"
    befriend: "Spřátelit se"
    charismaBonuses: "Sleva při nákupu a opravách, bonus pro odměnu za úkol:"
npc:
    title: "NPC"
    steppedInFront: "Předstoupil jsi před"
    whatToDo: "Co chceš udělat?"
    talk: "Mluvit"
    askForQuest: "Poptat se po úkolech"
    trade: "Obchodovat"
    repair: "Opravit věci"
    fight: "Bojovat"
    walkAway: "Odejít"
    notAvailableTitle: "NPC nedostupné"
    notAvailable: "Požadované NPC není momentálně dostupné."
    shopTitle: "Obchod"
    questsTitle: "Úkoly"
    smithTitle: "Kovárna"
character:
    createTitle: "Vytvořit postatvu"
    noCharacterFound: "Zdá se, že nemáš postavu na tomto serveru. (Jsi si jistý, že jsi vybral správný?) Než začneš hrát, musíš si jí vytvořit."
    created: "Postava vytvořena. Její detaily:"
    exists: "Postava se zadaným jménem již existuje. Zkus nějaké jiné."
npcShop:
    title: "%npcName% - obchod"
    noItems: "Je mi líto, ale nemám nic na prodej."
    offer: "Mohu ti nabídnout:"
    itemPrice: "{0}za %count% stříbrňáků|{1}za %count% stříbrňák|[2,4]za %count% stříbrňáky|[5,+Inf]za %count% stříbrňáků"
    buy: "Koupit"
npcQuests:
    available: "Dostupné úkoly:"
    noQuests: "Žádné úkoly"
    accept: "Přijmout"
    finish: "Dokončit"
    details: "Detaily"
    active: "(Aktivní)"
ranking:
    title: "Hodnocení"
    charactersTitle: "Hodnocení postav"
    guildsTitle: "Hodnocení cechů"
    characters: "Postavy"
    guilds: "Cechy"
    number: "Č."
    name: "Jméno"
    level: "Úroveň"
    guild: "Cech"
    members: "Členové"
    profile: "Profil"
    details: "Detaily"
    previous: "Předchozí"
    next: "Následující"
arena:
    title: "Aréna"
    localChampions: "Místní šampióni"
    toChallenge: "Vyzvat"
    foreignHeroes: "Cizí hrdinové"
    champion: "Šampión"
    championNotFound: "Šampión nenalezen"
    usesSkills: "Používá následující dovednosti:"
    skillOnLevel: "na úrovni %count%"
    fightRewards: "%playerName% získává %rewardMoney% stříbrňáků a %rewardExperiences% zkušeností."
training:
   title: "Cvičiště"
   train: "Trénovat"
   stats: "Tvé vlastnosti:"
   usableStatPoints: "Použitelné body vlastností: %count%"
   activeSkills: "Aktivní dovednosti:"
   skillCurrentLevel: "Současná úroveň: %count%"
   usableSkillPoints: "Použitelné body dovedností: %count%"
skill:
    title: "Dovednost"
    attackSkill: "Útočná dovednost"
    specialSkill: "Specialní dovednost"
    requires: "Vyžaduje"
    level: "úroveň"
    class: "třídu"
    specialization: "specializaci"
    skillDamage: "Poškození: %baseDamage% + %damageGrowth% za úroveň"
    skillLevels: "Úrovní: %count%"
    targetsingle: "Cíl: jediný nepřítel"
    targetrow: "Cíl: řada nepřátel"
    targetcolumn: "Cíl: sloupec nepřátel"
    targetself: "Cíl: vlastní postava"
    targetenemy: "Cíl: jeden nepřítel"
    targetparty: "Cíl: vlastní skupina"
    targetenemy_party: "Cíl: nepřátelská skupina"
    skillStrikes: "Útoků : %count%"
    skillDuration: "{0}Trvání: 0 kol|{1}Trvání:  1 kolo|[2,4]Trvání: %count% kola|[5,+Inf]Trvání: %count% kol"
    effectstun: "Efekt: Omráčí cíl"
    effectpoison: "Effect: Cíl bude ztrácet %value% + %valueGrowth% za úroveň životů na začátku kola"
    effectbuffmaxHitpoints: "Efekt: Zvyšuje cíli maximum životů o %value%% + %valueGrowth%% za úroveň"
    effectbuffdamage: "Efekt: Zvyšuje poškození cíle o %value%% + %valueGrowth%% za úroveň"
    effectbuffdefense: "Efekt: Zvyšuje obranu cíle o %value%% + %valueGrowth%% za úroveň"
    effectbuffhit: "Efekt: Zvyšuje cíli šanci na zásah o %value%% + %valueGrowth%% za úroveň"
    effectbuffdodge: "Efekt: Zvyšuje cíli šanci na blokování o %value%% + %valueGrowth%% za úroveň"
    effectbuffinitiative: "Efekt: Zvyšuje iniciativu cíle o %value%% + %valueGrowth%% za úroveň"
    effectdebuffmaxHitpoints: "Efekt: Snižuje cíli maximum životů o %value%% + %valueGrowth%% za úroveň"
    effectdebuffdamage: "Efekt: Snižuje poškození cíle o %value%% + %valueGrowth%% za úroveň"
    effectdebuffdefense: "Efekt: Snižuje obranu cíle o %value%% + %valueGrowth%% za úroveň"
    effectdebuffhit: "Efekt: Snižuje cíli šanci na zásah o %value%% + %valueGrowth%% za úroveň"
    effectdebuffdodge: "Efekt: Snižuje cíli šanci na blokování o %value%% + %valueGrowth%% za úroveň"
    effectdebuffinitiative: "Efekt: Snižuje iniciativu cíle o %value%% + %valueGrowth%% za úroveň"
    hitRate: "Šance na zásah: %count%"
itemSlot:
    weapon: "zbraň"
    armor: "brnění"
    shield: "štít"
    amulet: "amulet"
    helmet: "helma"
    ring: "prsten"
    item: "předmět"
weaponType:
    sword: "meč"
    axe: "sekera"
    club: "kyj"
    dagger: "dýka"
    spear: "oštěp"
    staff: "hůl"
    bow: "luk"
    crossbow: "kuše"
    "throwing knife": "vrhací nůž"
    instrument: "nástroj"
