common:
    home: "Domů"
    game: "HeroesofAbenez"
    members: "Členové"
    description: "Popis"
    name: "Jméno"
    grandmaster: "Velmistr"
    profile: "Profil"
    back: "Zpět"
homepage:
    greeting: "Vítej, %characterName%. Právě jsi v %stageName% v %areaName%."
    noOneToSee: "Nikoho nevidíš."
    canSee: "Vidíš:"
    approachNpc: "Přistoupit"
intro:
    title: "Úvod"
    continue: "Pokračovat"
item:
    title: "Věc"
    notFoundTitle: "Věc nenalezena"
    notFound: "Požadovaná věc nebyla nalezena."
tavern:
    title: "Krčma"
    rooms: "Místnosti:"
    localRoom: "Místní"
    guildRoom: "Cechovní"
    globalRoom: "Globální"
    cannotUseRoom: "Nemůžeš použít tuto místnost."
guild:
    title: "Cech"
    leader: "Vůdce"
    manage: "Spravovat cech"
    applications: "Přihlášky"
    chat: "Chat"
    changeDescription: "Změnit popis cechu"
    dissolveTitle: "Rozpustit cech"
    dissolveTitle2: "Rozpuštnění cechu"
    dissolveConfirm: "Jsi si jistý, že chceš toto udělat? Nemůže to být vráceno. Potvrď akci zadáním jména cechu."
    joinTitle: "Připojit se k cechu"
    rename: "Přejmenovat cech"
    dissolve: "Rozpustit cech"
    chooseAction: "Vyber akci:"
    manageMembers: "Spravovat členy"
    membersTitle: "Členové cechu"
    promote: "Povýšit"
    demote: "Degradovat"
    kick: "Vyhodit"
    notFoundTitle: "Cech nenalezen"
    notFound: "Požadovaný cech nebyl nalezen."
    renameTitle: "Přejmenovat cech"
    applicationsTitle: "Přihlášky do cechu"
    noApplications: "Žádné nevyřízený přihlášky"
    wantToJoin: "se chce připojit k tvému cechu."
    createTitle: "Vytvořit cech"
    guilds: "Cechy"
    apply: "Apply"
    noGuildText1: "Nepatříš k žádnému cechu. Můžeš si "
    noGuildCreateLink: "vytvořit"
    noGuildText2: " svůj vlastní nebo se "
    noGuildJoinLink: "připojit"
    noGuildText3: " k již existujícímu."
request:
    title: "Požadavek"
    accept: "Přijmout"
    decline: "Odmítnout"
    sent: "Odeslán"
    status: "Stav"
    invitedToGuild: "%from% pozval(a) %to% do svého cechu."
    guildApp: "%from% se chce připojit k cechu %to%."
    invitedToGroup: "%from% pozval(a) %to% do své skupiny."
    friendship: "%from% se chce přátelit s %to%."
    notFoundTitle: "Požadavek nenelezen"
    notFound: "Požadavek nebyl nalezen."
postoffice:
    title: "Pošta"
    messages: "Zprávy"
    received: "Přijaté"
    sent: "Odeslané"
    new: "Nová"
    notFoundTitle: "Zpráva nenalezena"
    notFound: "Požadovaná zprava nebyla nalezena."
    messageTitle: "Zpráva"
    cannotSeeTitle: "Nemůžeš vidět zprávu"
    cannotSee: "Nemůžeš vidět tuto zpravu."
    from: "Od"
    to: "Pro"
    subject: "Předmět"
    newMessageTitle: "Nová zpráva"
    receivedTitle: "Pošta - přijaté"
    noMessages: "Žádné zprávy."
    sentTitle: "Pošta - odeslané"
    viewMessage: "Zobrazit"
journal:
    title: "Deník"
    journalOf: "Deník"
    level: "úroveň"
    experiences: "{0} 0 zkušeností|{1} 1 zkušenost|[2,4] %count% zkušenosti|[5,Inf] %count% zkušeností"
    guild: "Cech:"
    ofGuild: "cechu"
    notInGuild: "Nejsi v cechu"
    karma: "Karma:"
    white: "bílá"
    neutral: "neutrální"
    dark: "temná"
    position: "Pozice:"
    at: "v"
    chapters: "Kapitoly:"
    basic: "Základní"
    inventory: "Inventář"
    pets: "Mazlíčci"
    quests: "Úkoly"
    money: "{0} Máš 0 stříbrňáků.|{1} Máš 1 stříbrňák.|[2,4] Máš %count% stříbrňáky.|[5,Inf] Máš %count% stříbrňáků."
    items: "Věci:"
    noItems: "Žádné věci"
    equipment: "Vybavení:"
    noEquipment: "Žádné vybavení"
    #questsTitle: "Quests Journal"
    activeQuests: "{0} Máš 0 aktivních úkolů.|{1} Máš 1 aktivní úkol.|[2,4] Máš %count% aktivní úkoly.|[5,Inf] Máš %count% aktivních úkolů."
    petsNumber: "{0} Máš 0 mazlíčků.|{1} Máš 1 mazlíčka.|[2,4] Máš %count% mazlíčků.|[5,Inf] Máš %count% mazlíčků."
    levelUp: "Povýšit!"
map:
    title: "Mapa"
    travelTitle: "Cestovat"
    localMap: "Místní mapa"
quest:
    title: "Úkol"
    from: "Od:"
    requirementsHeader: "K dokončení tohoto úkolu musíš:"
    rewards: "Odměny:"
    rewardMoney: "{0} 0 stříbrňáků|{1} 1 stříbrňák|[2,4] %count% stříbrňáky|[5,Inf] %count% stříbrňáků"
    rewardXP: "{0} 0 zkušeností|{1} 1 zkušenost|[2,4] %count% zkušenosti|[5,Inf] %count% zkušeností"
    notFoundTitle: "Úkol nenelezen"
    notFound: "Požadovaný úkol nebyl nalezen."
profile: 
    title: "Profil"
    level: "úroveň"
    baseStats: "Základní vlastnosti:"
    strength: "Síla"
    dexterity: "Obratnost"
    constitution: "Odolnost"
    intelligence: "Iteligence"
    charisma: "Charisma"
    position: "Pozice v cechu:"
    notInGuild: "Nečlen cechu"
    activePet: "Aktivní mazlíček:"
    noActivePet: "Žádný aktivní mazlíček"
    moreInfo: "Další info:"
    notFoundTitle: "Postava nenalezena"
    notFound: "Požadovaná postava nebyla nalezena."
equipment:
    title: "Vybavení"
    notFoundTitle: "Vybavení nenalezeno"
    notFound: "Požadované vybavení nebylo nenalezeno."
    strength: "Síla"
    durability: "trvanlivost"
    requires: "Vyžaduje"
    level: "úroveň"
    class: "třídu"
    price: "{0}Cena: 0 stříbrňáků|{1}Cena:  1 stříbrňák|[2,4]Cena: %count% stříbrňáků|[5,Inf]Cena: %count% stříbrňáků"
npc:
    title: "NPC"
    steppedInFront: "Předstoupil jsi před"
    whatToDo: "Co chceš udělat?"
    talk: "Mluvit"
    askForQuest: "Poptat se po úkolech"
    trade: "Ochodovat"
    fight: "Bojovat"
    walkAway: "Odejít"
    notFoundTitle: "NPC nenalezeno"
    notFound: "Požadované npc nebylo nalezeno."
    notAvailableTitle: "NPC nedostupné"
    notAvailable: "Požadované NPC není momentálně dostupné."
    shopTitle: "Obchod"
    questsTitle: "Úkoly"
character:
    createTitle: "Vytvořit postatvu"
    noCharacterFound: "Zdá se, že nemáš postavu na tomto serveru. (Jsi si jistý, že jsi vybral správný?) Než začneš hrát, musíš si jí vytvořit."
    created: "Postava vytvořena. Její detaily:"
    exists: "Postava se zadaným jménem již existuje. Zkus nějaké jiné."
chat:
    charactersInRoom: "Postavy v této místnosti:"
npcShop:
    noItems: "Je mi líto, ale nemám nic na prodej."
    offer: "Mohu ti nabídnout:"
npcQuests:
    available: "Dostupné úkoly:"
    noQuests: "Žádné úkoly"
    accept: "Přijmout"
    finish: "Dokončit"
    details: "Detaily"
    active: "(Aktivní)"
ranking:
    title: "Hodnocení"
    previous: "Předchozí"
    next: "Následující"
arena:
    title: "Aréna"
    localChampions: "Místní šampióni"
    toChallenge: "Vyzvat"
    foreignHeroes: "Cizí hrdinové"
    champion: "Šampión"
    championNotFound: "Šampión nenalezen"