* @konecnyjakub

[Project Management] @heroesofabenez/project-management
/.gitlab/
/README.md
/LICENSE.md
/CONTRIBUTING.md
/CHANGELOG.md
/composer.json

[Quality Assurance] @heroesofabenez/quality-assurance
/phpstan.neon

[Devops] @heroesofabenez/devops
/migrations/
/tools/
/.gitlab-ci.yml
/.scrutinizer.yml
/install.sh
/build.xml
/phinx.php
/deployment.ini
/INSTALL.md
.gitattributes
.htaccess
robots.txt

[PHP Code] @konecnyjakub
/app/**/*.php
/www/index.php

[CSS] @konecnyjakub
/www/styles/
*.css

[Tests] @konecnyjakub
/tests/

[Graphics] @konecnyjakub
/www/images/
*.png
*.jpg
*.svg
*.ico

[Templates] @konecnyjakub
*.latte
