{layout "../@layout.latte"}
{block title}{_"texts.journal.friends"}{/block}
{block content}
  <h1>{_"texts.journal.friends"}</h1>
  {if count($friends) === 0}
  {_"texts.journal.noFriends"}
  {else}
    {foreach $friends as $friend}
  {$friend->name} <a n:href="Profile:view $friend->id">{_"texts.common.profile"}</a> {_"texts.profile.lastActive"} {$friend->lastActiveS}<br>
    {/foreach}
  {/if}
  {control menu:chapters journal}
{/block}