{layout "../@layout.latte"}
{block title}{_"texts.journal.questsTitle"}{/block}
{block content}
  <h1>{_"texts.journal.questsTitle"}</h1>
  {control menu:chapters journalQuests}
  {default $active = true}
  {if $active}<p>{_"texts.journal.activeQuests", count($quests)}</p>
  {/if}{if count($quests) === 0}
  {else}
    {foreach $quests as $quest}
  <a n:href="Quest:view $quest->quest->id">{$quest->quest->name}</a><br>
    {/foreach}
  {/if}
  {default $paginator = null}
  {if $paginator}
    <p>{if $paginator->pageCount !== 1}{_"texts.paginator.page"} {$paginator->page}/{$paginator->pageCount}{/if} {if !$paginator->first}<a href='{plink this $paginator->page-1}'>{_"texts.paginator.previous"}</a>{/if} {if !$paginator->last}<a href='{plink this $paginator->page+1}'>{_"texts.paginator.next"}</a>{/if}</p>
  {/if}
  {control menu:chapters journal}
{/block}