{layout "../@layout.latte"}
{block title}{_"texts.journal.questsTitle"}{/block}
{block content}
  <h1>{_"texts.journal.questsTitle"}</h1>
  <p>{_"texts.journal.activeQuests", count($quests)}</p>
  {if count($quests) === 0}
  {else}
    {foreach $quests as $quest}
  <a n:href="Quest:view $quest">{_"quests.$quest.name"}</a><br>
    {/foreach}
  {/if}
  {control menu:chapters journal}
{/block}