  <h1>{_"texts.ranking." . strtolower($name) . "Title"}</h1>
  <h3>{foreach $rankings as $ranking}{if ucfirst($ranking) === $name}{_"texts.ranking." . strtolower($ranking)}{else}<a href='{plink "Ranking:$ranking"}'>{_"texts.ranking." . strtolower($ranking)}</a>{/if} {/foreach}</h3>
  <table>
    <tr><th>{_"texts.ranking.number"}</th>{foreach $cols as $col}<th>{_"texts.ranking.$col"}</th>{/foreach}<th></th></tr>
    {foreach $rows as $row}
    <tr><td>{$iterator->counter}.</td>{foreach $cols as $col}<td>{$row->$col}</td>{/foreach}<td><a href="{plink {$presenter}:view $row->id}">{_"texts.ranking.$lastCol"}</a></td></tr>
    {/foreach}
  </table>
  {if $paginator}
  <p>{if $paginator->pageCount !== 1}Page {$paginator->page}/{$paginator->pageCount}{/if} {if !$paginator->first}<a href='{plink "Ranking:$name" $paginator->page-1}'>{_"texts.ranking.previous"}</a>{/if} {if !$paginator->last}<a href='{plink "Ranking:$name" $paginator->page+1}'>{_"texts.ranking.next"}</a>{/if}</p>
  {/if}