{layout "../@layout.latte"}
{block title}{_"texts.skill.title"}{/block}
{block content}
  <h1>{_"texts.skill.title"} {_skills_attack.$skill->id.name}</h1>
  <p>{_"texts.skill.attackSkill"}</p>
  <p>{_skills_attack.$skill->id.description}</p>
  <p>{_"texts.skill.requires"}: {_"texts.skill.level"} <span class="{if $level >= $skill->neededLevel}green{else}red{/if}">{$skill->neededLevel}</span>, {_"texts.skill.class"} <span class="{if $class == $skill->neededClass}green{else}red{/if}">{_classes.$skill->neededClass.name}</span>{if $skill->neededSpecialization},{_"texts.skill.specialization"} {_subclasses.$skill->neededSpecialization.name}{/if}</p>
  <p>{_texts.skill.skillDamage, ["baseDamage" => $skill->baseDamage, "damageGrowth" => $skill->damageGrowth]}<br>
  {_texts.skill.skillLevels, $skill->levels}<br>
  {_texts.skill.target$skill->target}<br>
  {_texts.skill.skillStrikes, $skill->strikes}
  </p>
{/block}