{layout '../@layout.latte'}
{block title}Not found{/block}
{block content}
<div id="main">
  <h1>Not found</h1>
  <p>We're sorry but we couldn't find the page you asked for. If you followed a link from another website, please report it to its webmaster. If you got here from the game/our site, we'd love to hear that.</p>
</div>
{/block}