<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>Server Error</title>
</head>
{include "../navigation.latte"}
<div id="main">
  <h1>Server Error</h1>
  <p>We're sorry! The server encountered an internal error and was unable to complete your request. Please try again later.</p>
</div>
{include "../footer.latte"}
</html>