<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>Not found</title>
</head>
{include "../navigation.latte"}
<div id="main">
  <h1>Not found</h1>
  <p>The page you requested was not found.</p>
</div>
{include "../footer.latte"}
</html>