{layout '../@layout.latte'}
{block title}{_texts.character.createTitle}{/block}
{block content}
  <h1>{_texts.character.createTitle}</h1>
  <p></p>
  <p>{$name}, {$gender} {$race} {$class}</p>
  <p>{_texts.profile.strength}: {$strength}, {_texts.profile.dexterity}: {$dexterity}, {_texts.profile.constitution}: {$constitution}, {_texts.profile.intelligence}: {$intelligence}, {_texts.profile.charisma}: {$charisma}</p>
{/block}