{layout "../@layout.latte"}
{block title}{_"texts.character.createTitle"}{/block}
{block content}
  <h1>{_"texts.character.createTitle"}</h1>
  <p></p>
  <p>{$name}, {$gender} {_"races.$race.name"} {_"classes.$class.name"}</p>
  <p>{_"texts.profile.strength"}: {$strength}, {_"texts.profile.dexterity"}: {$dexterity}, {_"texts.profile.constitution"}: {$constitution}, {_"texts.profile.intelligence"}: {$intelligence}, {_"texts.profile.charisma"}: {$charisma}</p>
{/block}