{layout '../@layout.latte'}
{block title}Create character{/block}
{block content}
  <h1>Create character</h1>
  <p>Character created. Details follow:</p>
  <p>{$name}, {$gender} {$race} {$class}</p>
  <p>strength: {$strength}, dexterity: {$dexterity}, constitution: {$constitution}, intelligence: {$intelligence}, charisma: {$charisma}</p>
{/block}