<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>HeroesofAbenez {$server} - Create character</title>
</head>
<body>
{include "../navigation.latte"}
<article id='main'>
  <h1>Create character</h1>
  <p>It seems you have no character on this server. (Are you sure you selected the right one?) Before you can start playing, you have to create one.</p>
  {control createCharacterForm}
  <div id="raceDescription"></div>
  <div id="classDescription"></div>
</article>
</body>
</html>