<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>HeroesofAbenez {$server} - Create character</title>
</head>
<body>
{include "../navigation.latte"}
<article id='main'>
  
</article>
</body>
</html>