{layout '../@layout.latte'}
{block title}Create character{/block}
{block content}
<article id='main'>
  <h1>Create character</h1>
  <p>Character with entered name already exists. Try different name. <a n:href="Character:create" onclick="history.back()">Back</a></p>
</article>
{/block}