{layout "../@layout.latte"}
{block title}{_texts.character.createTitle}{/block}
{block content}
  <h1>{_texts.character.createTitle}</h1>
  <p>{_texts.character.exists} <a n:href="Character:create" onclick="history.back()">{_texts.common.back}</a></p>
{/block}