{layout "../@layout.latte"}
{block title}{_"texts.character.createTitle"}{/block}
{block content}
  <h1>{_"texts.character.createTitle"}</h1>
  <p>{_"texts.character.exists"} <a n:href="Character:create" onclick="history.back()">{_"texts.common.back"}</a></p>
{/block}