{layout "../@layout.latte"}
{block title}{_texts.equipment.title}{/block}
{block content}
  <h1>{_texts.equipment.title} {_equipment.$item->id.name}</h1>
  <p>{$item->slot|firstUpper}{if $item->type}-{$item->type}{/if}</p>
  <p>{_equipment.$item->id.description}</p>
  <p>{_texts.equipment.strength}: {$item->strength}, {_texts.equipment.durability}: {$item->durability}</p>
  <p>{_texts.equipment.requires}: {_texts.equipment.level} <span class="{if $level >= $item->requiredLevel}green{else}red{/if}">{$item->requiredLevel}</span>, {_texts.equipment.class} <span class="{if $class == $item->requiredClass}green{else}red{/if}">{_classes.$item->requiredClass.name}</span></p>
  <p>{_texts.equipment.price, $item->price}</p>
{/block}