{layout '../@layout.latte'}
{block title}{_texts.equipment.title}{/block}
{block content}
  <h1>{_texts.equipment.title} {$item->name}</h1>
  <p>{$item->slot|firstUpper}{if $item->type}-{$item->type}{/if}</p>
  <p>{$item->description}</p>
  <p>Strength: {$item->strength}, durability: {$item->durability}</p>
  <p>Requires: lvl <span class="{if $level >= $item->required_class}green{else}red{/if}">{$item->required_lvl}</span>, class <span class="{if $class == $item->required_class}green{else}red{/if}">{$item->required_class|firstUpper}</span></p>
  <p>Price: {$item->price} silver marks</p>
{/block}