<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>HeroesofAbenez {$server} - Travel</title>
</head>
<body>
{include "../navigation.latte"}
<article id="main">
<h1>Map</h1>
</article>
{include "../footer.latte"}
</body>
</html>