{if !$champion}
  <h2>{_"texts.arena.championNotFound"}</h2>
{else}
  <h1>{$champion->name}</h1>
  <p>{$champion->gender}, {_"texts.profile.level"} {$champion->level} {_"races.$champion->race.name"} {_"classes.$champion->occupation.name"}</p>
  <p>{_"texts.profile.combatStats"}</p>
  <ul>
    <li>{_"texts.profile.maxHitpoints"}: {$champion->maxHitpoints}</li>
    <li>{_"texts.profile.damage"}: {$champion->damage}</li>
    <li>{_"texts.profile.defense"}: {$champion->defense}</li>
    <li>{_"texts.profile.hitChance"}: {$champion->hit}</li>
    <li>{_"texts.profile.dodgeChance"}: {$champion->dodge}</li>
  </ul>
  {if count($champion->equipment) > 0}
  <p>{_"texts.journal.equipment"}</p>
  <ul n:inner-foreach="$champion->equipment as $equipment">
    <li><a href="{plink Equipment:view $equipment->id}">{_"equipment.$equipment->id.name"}</a></li>
  </ul>
  {/if}
  {if $champion->skills}
  <p>{_"texts.arena.usesSkills"}</p>
  <ul n:inner-foreach="$champion->skills as $skill">
    <li><a href="{plink Skill:$skill->skillType $skill->skill->id}">{_"skills_{$skill->skillType}.{$skill->skill->id}.name"}</a> {_"texts.arena.skillOnLevel", $skill->level}</li>
  </ul>
  {/if}
{/if}