{layout "../@layout.latte"}
{block title}{_"texts.guild.applicationsTitle"}{/block}
{block content}
  <h1>{_"texts.guild.applicationsTitle"}</h1>
  {if count($apps) === 0}
  <p>{_"texts.guild.noApplications"}</p>
  {else}
  {foreach $apps as $app}
  <p>{$app->from->name} ({$app->sentAt}) {_"texts.guild.wantToJoin"}<br>
  <a n:href="Request:accept $app->id">{_"texts.request.accept"}</a> <a n:href="Request:decline $app->id">{_"texts.request.decline"}</a></p>
  {/foreach}
  {/if}
{/block}