{layout '../@layout.latte'}
{block head}<script src="{$basePath}/netteForms.js"></script>{/block}
{block title}Create guild{/block}
{block content}
<article id='main'>
  <h1>Create guild</h1>
  {control createGuildForm}
</article>
{/block}