<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>{$site_name} - Create guild</title>
  <script src="{$basePath}/netteForms.js"></script>
</head>
<body>
{include "../navigation.latte"}
<article id='main'>
  <h1>Create guild</h1>
  {control createGuildForm}
</article>
</body>
</html>