<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>HeroesofAbenez {$server} - Guild</title>
</head>
<body>
{include "../navigation.latte"}
<article id='main'>
  <h1>Guild</h1>
  <p></p>
</article>
{include "../footer.latte"}
</body>
</html>