{layout "../@layout.latte"}
{block title}{_"texts.guild.dissolveTitle"}{/block}
{block content}
  <h1>{_texts.guild.dissolveTitle2}</h1>
  <p>{_"texts.guild.dissolveConfirm"}</p>
  {control dissolveGuildForm}
{/block}