{layout '../@layout.latte'}
{block head}<script src="{$basePath}/netteForms.js"></script>{/block}
{block title}Dissolve guild{/block}
{block content}
<article id='main'>
  <h1>Dissolving guild</h1>
  <p>Are you sure that you want to do this? It can't be undone. Confirm the action by entering the guild's name.</p>
  {control dissolveGuildForm}
</article>
{/block}