<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>HeroesofAbenez {$server} - Join guild</title>
</head>
<body>
{include "../navigation.latte"}
<article id='main'>
  <h1>Join guild</h1>
  <table id="guilds">
    <caption>Guilds</caption>
    <tr><th>Name</th><th>Description</th><th>Grandmaster</th><th>Members</th><th></th></tr>
    {foreach $guilds as $guild}
    <tr><td>{$guild->name}</td><td>{$guild->description}</td><td>{$guild->leader}</td><td class="members">{$guild->members}</td><td><a n:href="Guild:join $guild->id">Apply</a></td></tr>
    {/foreach}
  </table>
</article>
{include "../footer.latte"}
</body>
</html>