{layout '../@layout.latte'}
{block title}Guild leaders{/block}
{block content}
<article id='main'>
  <h1>Guild leaders</h1>
  <p>Here you can change deputy/grandmaster of your guild. Guild can have 1 deputy at max at any time.</p>
</article>
{/block}