{layout "../@layout.latte"}
{block title}{_texts.guild.membersTitle}{/block}
{block content}
  <h1>{_texts.guild.membersTitle}</h1>
  {foreach $members as $member}{_guildranks.$member->rank.name|firstUpper} {$member->name} <a n:href="Profile:view $member->id">{_texts.common.profile}</a> {if $canPromote and $member->rankId < $rankId} <a n:href="Guild:promote $member->id">{_texts.guild.promote}</a> <a n:href="Guild:demote $member->id">{_texts.guild.demote}</a>{/if}{if $canKick and $member->rankId < $rankId} <a n:href="Guild:kick $member->id">{_texts.guild.kick}</a>{/if}{if !$iterator->isLast()}<br>{/if}{/foreach}
{/block}
