{layout '../@layout.latte'}
{block title}{_texts.guild.title}{/block}
{block content}
  <h1>{_texts.guild.title}</h1>
  <p>You don't belong to any guild. You can <a n:href="Guild:create">create</a> your own or <a n:href="Guild:join">join</a> an existing one.</p>
{/block}