<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>{$site_name} - Guild</title>
</head>
<body>
{include "../navigation.latte"}
<article id='main'>
  <h1>Guild</h1>
  <p>You don't belong to any guild. You can <a n:href="Guild:create">create</a> your own or <a n:href="Guild:join">join</a> an existing one.</p>
</article>
</body>
</html>