<article id='main'>
  <h1>Guild</h1>
  <p>You don't belong to any guild. You can <a href="{$base_url}/guild/create">create</a> your own or <a href="{$base_url}/guild/join">join</a> an existing one.</p>
</article>