{layout "../@layout.latte"}
{block title}{_"texts.guild.title"} {$guild->name}{/block}
{block content}
  <h1>{_"texts.guild.title"} {$guild->name}</h1>
  <p>{_"texts.common.description"}: {$guild->description}</p>
  <h2>{_"texts.common.members"}</h2>
  {foreach $guild->members as $member}
    {_guildranks.{$member->guildrank->id}.name|firstUpper}: <a n:href="Profile:view $member->id">{$member->name}</a><br>
  {/foreach}
{/block}