<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>{_texts.common.game} {$server} - Combat</title>
</head>
<body>
<article id="main">
  <h1>Combat</h1>
  {!$log}
</article>
</body>
</html>