{layout '../@layout.latte'}
{block title}Home{/block}
{block content}
  <h1>HeroesofAbenez {$server}</h1>
  <p>Welcome, {$characterName}. You're currently in {$stageName} at {$areaName}.</p>
  {if count($npcs) == 0}
  <p>You can't see anyone.</p>
  {else}
  <p>You can see:</p>
  {foreach $npcs as $npc}
  {$npc->name} - <a n:href="Npc:view $npc->id">Approach</a><br>
  {/foreach}
  {/if}
{/block}