<!DOCTYPE HTML>
<html>
<head>
  {include "../head.latte"}
  <title>HeroesofAbenez {$server} - Home</title>
</head>
<body>
{include "../navigation.latte"}
<article id="main">
  <h1>HeroesofAbenez {$server}</h1>
  <p>Welcome, {$characterName}. You're currently at {$areaName} - {$stageName}.</p>
</article>
{include "../footer.latte"}
</body>
</html>