* { color: #FFFF00; }
body, p, li, td, article, div { font-family: MS Sans Serif, Geneva, sans-serif; }
#main { width: 100%; max-width: 500px; height: 505px; background-color: #9999CC;
    position: relative; top: -16px; padding-left: 5px; }
#navigation { width: 100%; max-width: 500px; background-color: gray; padding-left: 5px; }
#navigation a { color: white; text-decoration: none; }
#navigation a:hover { color: #000099; }
#main a { color: #009933; }
#main a:hover { color: #000066; }
form label { color: #660099; }
form input, select, textarea { color: #330099; }
form select option { color: black; }
h1, h2, h3 { color: green; font-family: Courier New, Courier, monospace; }
footer { width: 100%; max-width: 500px; background-color: gray; position: relative; top: -10px; }
footer div { height: 20px; }
#guilds #name { text-align: left; }
#guilds .members { text-align: right; }
.crossout { text-decoration: line-through; }
.red { color: red; }
.green { color: green; }
