<!DOCTYPE HTML>
<html>
<head>
  {include "head.latte"}
  <title>HeroesofAbenez {$server} - {block title}{/block}</title>
</head>
<body>
{include "navigation.latte"}
{block #content}{/block}
{include "footer.latte"}
</body>
</html>