<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{$baseUrl}/styles/base.css">
  <title>HeroesofAbenez {$server} - {block title}{/block}</title>
</head>
<body>
{include "navigation.latte"}
{block #content}{/block}
{include "footer.latte"}
</body>
</html>