<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{$basePath}/styles/base.css">
  {default $haveForm = false}
  {if $haveForm}<script src="{$basePath}/js/netteForms.js"></script>
  {else}{/if}<title>{_"texts.common.game"} {$server} - {include #title}</title>
</head>
<body>
{control menu}
<article id="main">
{include #content}</article>
<footer>
  {foreach $flashes as $flash}
    <div class="flash {$flash->type}">{$flash->message}</div>
  {/foreach}
</footer>
</body>
</html>