<nav id="navigation">
  <a n:href="Homepage:">{_texts.common.home}</a> <a n:href="Journal:">{_texts.journal.title}</a> <a n:href="Guild:">{_texts.guild.title}</a> <a n:href="Tavern:local">{_texts.tavern.title}</a> <a n:href="Postoffice:">{_texts.postoffice.title}</a> <a n:href="Ranking:characters">{_texts.ranking.title}</a> <a n:href="Map:local">{_texts.map.title}</a>
</nav>
