<nav id="navigation">
  <a n:href="Homepage:">Home</a> <a n:href="Journal:">Journal</a> <a n:href="Guild:">Guild</a> <a n:href="Tavern:local">Tavern</a> <a n:href="Postoffice:">Post office</a> <a n:href="Ranking:characters">Ranking</a> <a n:href="Map:local">Map</a>
</nav>
