<!DOCTYPE HTML>
<html>
<head>
  <title>Not found</title>
  <meta http-equiv="text/html; charset=utf-8">
</head>
{include "navigation.latte"}
<div id="notfound">
<h1>Not found</h1>
<p>The page you requested was not found.</p>
</div>
</html>