{layout './@layout.latte'}
{block title}{$title}{/block}
{block content}
  <h1>{$title}</h1>
  <p>Rooms: <a n:href="Tavern:local">Local</a> <a n:href="Tavern:guild">Guild</a> <a n:href="Tavern:global">Global</a></p>
  {if $canChat}
  {control $chat}
  <div id="chat_new_message">
    {control newMessageForm}
  </div>
  {else}
  <p>You can't use this room.</p>
  {/if}
{/block}