{layout "./@layout.latte"}
{block title}{$title}{/block}
{block content}
  <h1>{$title}</h1>
  <p>{_"texts.tavern.rooms"} <a n:href="Tavern:local">{_"texts.tavern.localRoom"}</a> <a n:href="Tavern:guild">{_"texts.tavern.guildRoom"}</a> <a n:href="Tavern:global">{_"texts.tavern.globalRoom"}</a></p>
  {if $canChat}
  {control $chat}
  <div id="chat_new_message">
    {control newMessageForm}
  </div>
  {else}
  <p>{_"texts.tavern.cannotUseRoom"}</p>
  {/if}
{/block}